<div class="container" data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#!/">
            <img src="http://www.foodtrade.com/static/images/logo_28.png" alt="alrg">
        </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
            <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
                <a ng-switch-when="dropdown" class="dropdown-toggle">
                    <span data-ng-bind="item.title"></span>
                    <b class="caret"></b>
                </a>
                <ul ng-switch-when="dropdown" class="dropdown-menu">
                    <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
                        <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                    </li>
                </ul>
                <a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="menus" data-toggle="dropdown" role="button" aria-expanded="false">Lunch menu <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Breakfast</a></li>
                    <li><a href="#">Lunch</a></li>
                    <li><a href="#">Dinner</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Add new</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right innerR">
            <li><a href="dashboard.html">About</a></li>
            <li><a href="gridlite.html">Feedback</a></li>

            <li class="dropdown" style="border-left: 1px solid #ccc;">
                <div class="pull-left">
                    <img src="https://rebelryterwrites.files.wordpress.com/2009/09/chef-angry-mad-cook-south-park.gif" class="img-thumbnail img-circle" style="width:30px; height:30px;">
                </div>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" class="pull-left text-muted" style="max-width:130px; margin-left: 5px; line-height: 1.2;">
                    <strong data-ng-bind="authentication.user.displayName"></strong><small data-ng-bind='authentication.user.email'></small>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/#!/settings/profile">Edit Profile</a>
                    </li>
                    <li>
                        <a href="/#!/settings/accounts">Manage Social Accounts</a>
                    </li>
                    <li data-ng-show="authentication.user.provider === 'local'">
                        <a href="/#!/settings/password">Change Password</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/auth/signout">Signout</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="btn btn-sm btn-info"> <i class="fa fa-save fa-fw"></i> Save</a>
            </li>
        </ul>
    </div>
</div>
