<div id="top">
    Like this?

    <a href='https://www.facebook.com/sharer/sharer.php?u=http://www.foodtrade.menu' class="btn border-white text-white btn-facebook" target="_blank"> Share on facebook</a>
    <a href='https://twitter.com/home?status=I%20just%20signed%20up%20to%20a%20great%20one-stop%20allergy%20compliance%20and%20marketing%20solution%20-%20http://www.foodtrade.menu%20%23chefs%20via@foodtradehq' class="btn border-white text-white btn-twitter" target="_blank"> Share on twitter</a>
    I'm free so shares are much appreciated!


    <div class="pull-right hidden-xs">
        <a href='mailto:hello@foodtrade.com' target="_blank">Contact</a>
        <a href='http://digest.foodtrade.com' target="_blank">Blog</a>
        <a href='https://www.facebook.com/foodtradeHQ' target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a>
        <a href='https://twitter.com/foodtradeHQ' target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a>
    </div>

</div>

<div class="container-reponsive" data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#!/" ng-if='!authentication.user'>
            <img ng-src="{{logo || 'http://www.foodtrade.com/static/images/logo_28.png'}}"   alt="alrg">
        </a>
        <a class="navbar-brand" href="/#!/grids" ng-if='item.shouldRender(authentication.user)'>
            <img ng-src="{{logo || 'http://www.foodtrade.com/static/images/logo_28.png'}}"  alt="alrg">
        </a>
        <a class="navbar-brand" href="/#!/dashboard" ng-if='authentication.user && !item.shouldRender(authentication.user)'>
            <img ng-src="{{logo || 'http://www.foodtrade.com/static/images/logo_28.png'}}"   alt="alrg">
        </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
            <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
                <a ng-switch-when="dropdown" class="dropdown-toggle">
                    <span data-ng-bind="item.title"></span>
                    <b class="caret"></b>
                </a>
                <ul ng-switch-when="dropdown" class="dropdown-menu">
                    <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
                        <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                    </li>
                </ul>
                <a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
            </li>
        </ul>
        <!-- <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="menus" data-toggle="dropdown" role="button" aria-expanded="false">Lunch menu <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Breakfast</a></li>
                    <li><a href="#">Lunch</a></li>
                    <li><a href="#">Dinner</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Add new</a></li>
                </ul>
            </li>
        </ul> -->
        <ul class="nav navbar-nav navbar-right innerR">


            <!-- only show if user is logged in -->
            <li ng-if='authentication.user'><a ui-sref='dashboard'>Dashboard</a></li>
            <li ng-if='authentication.user'><a ui-sref='profile'>Profile</a></li>
            <!--or if not, show -->
            <li ng-if='!authentication.user'><a data-toggle="modal" data-target="#signinModal">Already registered? <strong> Log in</strong></a></li>
            <li ng-if='authentication.user'><a href='/auth/signout'>Log Out</a></li>

            <!-- <li><a ui-sref='about'>About</a></li> -->
            <li><a href="mailto:hello@foodtrade.com">Feedback</a></li>
            <li><a data-toggle="modal" data-target="#help">Help</a></li>

            <!-- <li class="dropdown">
                <div class="pull-left">
                    <img src="https://rebelryterwrites.files.wordpress.com/2009/09/chef-angry-mad-cook-south-park.gif" class="img-thumbnail img-circle" style="width:30px; height:30px;">
                </div>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" class="pull-left text-muted" style="max-width:130px; margin-left: 5px; line-height: 1.2;">
                    <strong data-ng-bind="authentication.user.displayName"></strong><small data-ng-bind='authentication.user.email'></small>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/#!/settings/profile">Edit Profile</a>
                    </li>
                    <li>
                        <a href="/#!/settings/accounts">Manage Social Accounts</a>
                    </li>
                    <li data-ng-show="authentication.user.provider === 'local'">
                        <a href="/#!/settings/password">Change Password</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/auth/signout">Signout</a>
                    </li>
                </ul>
            </li> -->
            <li ng-show="$state.includes('grid-create-signup')" id="save">
                <p class="navbar-btn nomargin">

                <a ng-show="authentication.user" onclick='$(".create-grid-submit").trigger("click")' class="btn btn-lg btn-info save" ng-class="{'disabled': !enableSaveBtn}"> <i class="fa fa-save fa-lg fa-fw "></i> Save</a>

                <a ng-hide="authentication.user" data-toggle="modal" data-target="#signupModal" class=" save btn btn-lg btn-success" ng-class="{'disabled': !enableSaveBtn}"><i class="fa  fa-lg fa-save fa-fw "></i> Save</a>

                </p>
            </li>
        </ul>
    </div>
</div>



<div id="survey">
    Please take <strong>2 minutes to help us improve</strong>  by answering a few quick questions
    <a target="_blank" href="https://docs.google.com/forms/d/1CQ_4FY6AsF6cFng9kBILxQEvR9ftwVDGEeNXeiWN4bY/viewform" class="btn btn-warning">Sure, I'll help!</a>
</div>
<div id="footer">
    <a ui-sref='about'>About</a>
    <a ui-sref='terms'>Terms of use</a>
</div>
