<section data-ng-controller="HomeController">
  <div class="container-responsive" role="main" id="main">
    <div class="row text-center bg-white">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
        <div class=" ">
          <h1 style="font-weight: 700; margin: 40px 0 0 0; font-size: 60px;">Simple allergen compliance </h1>
          <p class="lead" style="font-weight: 100; margin: 20px 0px; font-size: 50px;">
              It's like paper, but better.
          </p>
          <img src="modules/grids/img/pack.png" class="img-responsive" id="packshot" alt="screenshot of product" style="margin: 40px auto; max-width: 600px;" />

        </div>
        <a href="/#!/grids/create" class="btn btn-xl btn-success" style="padding: 15px 20px 10px 20px;">
          <i class="fa fa-fw fa-check-square-o"></i> Get Started - it's free
        </a>
        <p class="lead" style="margin-top: 10px; font-weight: bold; ">
            <a href="/#!/login">I already have an account</a>
        </p>
        <hr />

        <div class="row text-muted">
          <div class="col-sm-3">
            <i class="fa fa-3x fa-save"></i>
            <h3>Save</h3>
          </div>
          <div class="col-sm-3">
            <i class="fa fa-3x fa-print"></i>
            <h3>Print</h3>
          </div>

          <div class="col-sm-3">
            <i class="fa fa-3x fa-users"></i>
            <h3>Collaborate</h3>
          </div>

          <div class="col-sm-3">
            <i class="fa fa-3x fa-bullhorn"></i>
            <h3>Promote</h3>
          </div>

          <!-- <div class="col-sm-2">
            <i class="fa fa-3x fa-shopping-cart"></i>
            <h3 style="margin-bottom:0;">Offers</h3>
            <small class="soon">Coming soon</small>
          </div> -->
        </div>

        <hr />
        <p class="small innerT text-muted">Powered by</p>
        <img src="http://www.food.gov.uk/sites/all/themes/site_frontend/logo.png" alt="FSA" style="background: #256A2F; padding: 10px 10px;">
      </div>
    </div>
  </div>
</section>
<!-- <section>

  <div class="container">
    <div class="row">
      <h2 id="details">Choose your package</h2>
    </div>
    <br>

    <div class="col-md-4" id="home-box">
      <div class="pricing_header">
        <h2>Free</h2>
        <div class="space"></div>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> 3 checklists</li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> 20 items per list</li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Share
          <small>with 1 person</small>
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Seasonal tips</li>
        <li class="list-group-item off">
          <span class="glyphicon glyphicon-remove"></span> Show your menu on 4sq, Google, OpenTable..</li>
        <li class="list-group-item off">
          <span class="glyphicon glyphicon-remove"></span> Monthly email reminders</li>
        <li class="list-group-item off">
          <span class="glyphicon glyphicon-remove"></span> Recipe book</li>
        <li class="list-group-item off">
          <span class="glyphicon glyphicon-remove"></span> Ingredient details</li>
        <li class="list-group-item off">
          <span class="glyphicon glyphicon-remove"></span> Modification alerts</li>
      </ul>
      <div class="try">
        <a class="btn btn-success btn-lg btn-block" href="#" type="button">FREE</a>
      </div>
    </div>
    <div class="col-md-4" id="home-box">
      <div class="pricing_header">
        <h2>Cook</h2>
        <div class="space"></div>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Unlimited checklists</li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Unlimited items per list</li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Share
          <small>with 3 people</small>
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Monthly email reminders</li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Seasonal tips</li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Push to 4sq, Google, OpenTable..</li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Modification alerts</li>
        <li class="list-group-item off">
          <span class="glyphicon glyphicon-remove"></span> Recipe book</li>
        <li class="list-group-item off">
          <span class="glyphicon glyphicon-remove"></span> Ingredient details</li>
      </ul>
      <div class="try">
        <a class="btn btn-success btn-lg btn-block" href="#" type="button">&pound; ___ / yr</a>
      </div>
    </div>
    <div class="col-md-4" id="home-box">
      <div class="pricing_header">
        <h2>Master Chef</h2>
        <div class="space"></div>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Unlimited checklists</li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Unlimited items per list</li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Share
          <small>with unlimited people</small>
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Monthly email reminders</li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Seasonal tips</li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Push to 4sq, Google, OpenTable..</li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Modification alerts</li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Recipe book</li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Ingredient details</li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-ok"></span> Private profile</li>
      </ul>
      <div class="try">
        <a class="btn btn-success btn-lg btn-block" href="#" type="button">&pound; ___ / yr</a>
      </div>
    </div>
  </div>
</section> -->
