<section data-ng-controller="AboutController" id="main">
	<div class="container">

	<h2>Our Mission</h2>
	<hr />
	<div class="row ">
  <div class="col-md-6 lead">
   <p><strong>FoodTrade</strong> is a social enterprise working with the mission of <strong>good food, for everyone, forever. </strong>
</p><p>
<strong>Why?</strong> Because everything is secondary to food. Make a change here, and everything else changes. It's a great place to push if you want to help the planet thrive.</p>
<p><strong> And if not now, when?</strong></p>
  </div>

  <div class="col-md-6">
  <iframe width="100%" height="240px" src="//www.youtube.com/embed/2i9Srf_6RAc" frameborder="0" allowfullscreen=""></iframe>
  </div>

</div>
	<p class="lead">
	We believe in good, honest food. We believe that the people who grow and make our food should receive a fair return. We are working to create  a world where food production does not harm the land, nor weaken economies, but restores environmental health, and strengthens communities both economically and socially.
	</p><p>
	We created FoodTrade because we believe delicious food doesn't have to cost the earth. On the surface, FoodTrade is  a local food map, for anyone, anywhere to find or trade real food. Delve deeper and you’ll see it offers resilience, prosperity and sustainability to small farmers and producers. It creates humanity and connection in the supply chain. It puts an honesty and transparency that has been sorely missing in the last few decades, right back at the heart of the trade relationship.
	</p><p>
	In 2014, we built FoodTrade Menu to help accelerate our mission of good food, for everyone, forever. If we can help independent restaurants deal with complicated food rules and regulations by using  a simple menu management tool, then we can help them find great local offers on the items they buy. Every ingredient brings us closer to a better, fairer food network.
	</p>
	<h2>Award Winning</h2>
	<hr />
	<p>
	When the new food regulations were announced in December 2014, we knew they’d be a challenge for independent restaurants. And so, eager to help, we jumped on the case and created FoodTrade Menu. Because the tool uses and creates a lot of open data which SMEs can use to improve their business, we entered the Open Data Challenge – a tech competition run by NESTA and the Open Data Institute. In February 2015 we won.
	</p><p>
	We’re humbled by the support we received during the competition and deeply grateful for this opportunity. With the prize money, we’ve now launched FoodTrade Menu nationally and, most excitingly, we’re growing our team, too.
	</p>
	<!-- <h1>OUR TEAM</h1>

	FoodTrade (LINK) was founded in 2012 by Ed Dowding on a mission to build a better, fairer food system. In 2014, he was joined by Lyndsey Knight as Communications Manager and Therese Stowell as COO. Our board includes… They united with an indestructible tech team headed by JD, and created award-winning FoodTrade Menu. -->

	<!--

	If you'd like to join our team, email hello@foodtrade.com with your resume and what you’d like to bring. -->

	<!-- MEDIA
	<p>
	You can dowload  a resource pack with our latest press release, social media guides, images and artwork. If you’d like more information, or an interview with our team, please email comms@foodtrade.com

	FRIENDS
	(include URLS and one sentence description)

	TiFSiP
	FSA
	SLOW FOOD
	FOOD FOR LIFE
	SUSTAINABLE FOOD CITIES
	SRA

	(ADD WHEN NEW ONES OCCUR)

	PRESS

	Link to blogs we’re in -->

	</div>
</section>
