<section data-ng-controller="DashboardController">
	<div class="container-responsive" role="main" id="main">
		<div class='row'>
			<div class="col-xs-8" style="border-right: 1px solid #ccc;">
        <div class=" " style="background: #fff; margin:0; padding: 10px 5px; border-bottom: 1px solid #999;">
					FHRSID: {{establishment.FHRSID}}<br/>
					BusinessType: {{establishment.BusinessType}}<br/>
					RatingValue: {{establishment.RatingValue}}<br/>
					RatingDate: {{establishment.RatingDate | date: 'short'}}<br/>
					LocalAuthorityWebSite: {{establishment.LocalAuthorityWebSite}}<br/>
					LocalAuthorityEmailAddress: {{establishment.LocalAuthorityEmailAddress}}<br/>
					Hygiene: {{establishment.scores.Hygiene}}<br/>
					Structural: {{establishment.scores.Structural}}<br/>
					ConfidenceInManagement: {{establishment.scores.ConfidenceInManagement}}<br/>
				</div>
			</div>
		</div>
    <div class="row">
      <div class="col-xs-8" style="border-right: 1px solid #ccc;">
        <div class=" " style="background: #fff; margin:0; padding: 10px 5px; border-bottom: 1px solid #999;">

          <a ui-sref='grid-create' class="btn btn-success"><i class="fa fa-fw fa-plus-circle"></i> Create a new allergen grid</a>
          <!-- &nbsp;&nbsp;
          &nbsp;&nbsp;
          <a href="#" class="text-success"><i class="fa fa-fw fa-folder-open-o"></i> New Folder</a> -->

		<div class="pull-right">
	          <a href="/auth/signout" class="btn btn-default"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
		</div>

        </div>

        <table class="table">
          <tbody>
			<tr ng-repeat="grid in grids">
            <td>
              <h4 class="nomargin"><a ui-sref='grid-detail({gridId: grid._id})'>{{grid.name}} (Items {{grid.tableData.length}})</a></h4>
              <small>{{grid.user.email}}<!--<em class="text-muted">(free)</em>--></small>
            </td>
            <td class="text-muted text-center">
              {{grid.updated | date:'fullDate'}}
            </td>
            <td class="text-muted text-right">

              <div class="btn-group btn-group-xs">
                <button class="btn btn-default" type="button" ui-sref='grid-detail({gridId: grid._id})'>Open</button>
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
				  <li><a ng-href="https://twitter.com/home?status={{getAbsoluteUrlFn(grid)}}" target="_blank">Share on twitter</a></li>
				  <li><a ng-href="https://www.facebook.com/sharer/sharer.php?u={{getAbsoluteUrlFn(grid)}}" target="_blank">Share on facebook</a></li>
				  <li><a ng-click='deleteGridFn(grid)'>Delete</a></li>
                  <!-- <li class="divider"></li>
                  <li><a href="#">Properties</a></li> -->
                </ul>
              </div>
            </td>
          </tr>
        </tbody></table>
      </div>
      <div class="col-xs-4">
        <!-- <h2>Want more features?</h2> -->
        <div class="row hidden">
          <div class="col-xs-5">
            <a href="#" class="btn btn-success pull-left">Upgrade Now</a>
          </div>
          <div class="col-xs-7">
            <small class="pull-left text-muted">for menu management, sourcing, promotion &amp; more.</small>
          </div>
        </div>
		<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10961_10155391655265051_3328845962715856450_n.jpg?oh=1bdf1823078665bbdec0ac93e3c45613&amp;oe=55A395CC&amp;__gda__=1437268823_650b9b6c8a3c7db2bc7a4ee556d13888" class="center-block img-circle img-thumbnail" width="80">
		<p class="lead">

        Hi - I'm Ed, CEO of FoodTrade.
			</p>
			<p class="lead"> If there's anything you need, or if you have any ideas how it could be better, just call me on 0207 193 2999 or <a href="mailto:hello@foodtrade.com">email us</a>!

			</p>
			<p class="lead">Meantime, happy cooking!
	</p>



      </div>
    </div>
  </div>
</section>
