<section data-ng-controller="GridDetailController">
	<div class="container-responsive" role="main" id="main">
			<div class="row">
					<div class="col-xs-6">
							<h2 id="menuname">
								<a class="pr iced" editable-text="grid.name">{{grid.name}}</a>
							</h2>
							<small>
							</small>
					</div>
					<small>
							<div class="col-xs-6 text-right innerAll">
									<!-- <a href="#" class="btn btn-sm btn-default pull-right"><i class="fa fa-users fa-fw"></i> Collaborate</a> -->
									<a ng-href='/grids/{{grid._id}}/print' target="_blank" class="btn btn-sm btn-default pull-right mR10">
											<i class="fa fa-print fa-fw"></i> Print</a>

									<div class="input-group input-group-sm  pull-right mR10 col-sm-8">
											<input type="text" class="form-control" aria-label="URL" ng-model='shareUrl'>
											<span class="input-group-btn">
											<button clip-copy="shareUrl" class="btn btn-sm btn-default"><i class="fa fa-copy fa-fw"></i> Copy</button>
											</span>
									</div>
							</div>
					</small>
			</div>
			<grid grid='grid'></grid>
	</div>
</section>
