<section data-ng-controller="GridDetailController" data-ng-init="findOne()">
	<div class="container-responsive" role="main" id="main">
			<div class="row">
					<div class="col-xs-6">
							<h2 id="menuname" data-ng-bind="grid.name">
									<small><i class="fa fa-fw fa-pencil text-muted"></i></small>
							</h2>
							<small>
							</small>
					</div>
					<small>
							<div class="col-xs-6 text-right innerAll">
									<a href="#" class="btn btn-sm btn-default pull-right"><i class="fa fa-users fa-fw"></i> Collaborate</a>
									<a ng-href='/grids/{{grid._id}}/print' target="_blank" class="btn btn-sm btn-default pull-right mR10">
											<i class="fa fa-print fa-fw"></i> Print</a>

									<div class="input-group input-group-sm col-xs-4 pull-right mR10">
											<span class="input-group-addon">Share</span>
											<input type="text" class="form-control" aria-label="URL" value="ftm.co/746dd6">
											<span class="input-group-addon"><i class="fa fa-copy"></i></span>
									</div>
							</div>
					</small>
			</div>
			<small ng-include="'modules/grids/views/grid-table.client.partial.html'"></small>
	</div>
</section>
