<section data-ng-controller="PrivacyController" id="main">

	<div class="row">
		<div class="col-sm-12">
			<div class="innerAll">

				<h1 class="text-center">Terms &amp; conditions of use</h1>

				<h2 class="innerT">The simpler version, for humans</h1>
					<hr />
					<ul class="lead">
						<li>
							<strong>Ultimate responsibility lies with you.</strong> We'll do our best to provide a great service, but when it comes down to it, it's your food and your food business so please double check everything.
							<br />
							<br />
						</li>
						<li>
							<strong>Only run a food business you have insurance cover.</strong>
							Serving food is a risky business and can have very severe - even fatal - effects if you get it wrong. Because of this you should have good insurance cover already. If you don't, please get it, for your sake even if not ours. If you use this service you
							are declaring that you have adequate public liabilty cover for allergen errors.
						</li>
					</ul>


					<h2 class="innerT">The long version, for lawyers</h2>
					<hr />

					<p>
						These terms of use ('Terms of Use') are a legal agreement concluded between you ('User') and Sustaination Ltd of Farthing Corner, West Tytherley, Salisbury, Wilts, SP5 1NR ('FoodTrade') for the online service, FoodTrade Menu ('Service'). Users may make
						use of the Service subject to agreeing to be bound by these Terms of Use.
					</p>
					<p>
						Given the critically important nature of the Service, please pay special attention to the disclaimer (Section 5) and limitation of liability (Section 6).
					</p>
					<p>
						If the User does not agree to the Terms of Use, don't use the Service.
					</p>
					<ol type="">
						<li><strong>Scope</strong>
							<ol>
								<li>
									FoodTrade grants to the User rights to use the Service on these Terms of Use until the service is terminated. 3 months notice of termination will be given, and data will be made avaiable for download.
								</li>
								<li>
									The User may register and use the Service for the User's business purposes.
								</li>
								<li>
									FoodTrade reserves the right to change, suspend, remove, or disable access to the Service at any time without notice. In no event will FoodTrade be liable for loss of Service. Service fees may be refunded pro-rata at our discretion.
								</li>
							</ol>
						</li>
						<li><strong>Consent to use and processing of data</strong>
							<ul>
								<li>
									The User agrees that the FoodTrade may handle personal information.
								</li>
								<li>
									Allergen data will be made public, and searchable online.
								</li>
								<li>
									Data may be pushed to 3rd party services such as table booking, review, and restaurant discovery services.
								</li>
								<li>
									Menu data will be provided openly to help local suppliers fine routes to market.
								</li>
							</ul>
						</li>
						<li><strong>Restrictions</strong>
							<br> The User shall not:
							<ol>
								<li> duplicate the Service</li>
								<li> sell, re-sell, rent, lease, lend, redistribute or financially exploit the Service</li>
								<li> permit the Service to be combined with or incorporated into any other service or program, unless with prior written consent</li>
								<li>use the Service for illegal activities</li>
								<li>behave fraudulently</li>
							</ol>
						</li>
						<li>
							<strong>Intellectual Property</strong>
							<ol>
								<li>The User acknowledges that:
									<ol>
										<li>all intellectual property rights in the Service belong to the FoodTrade</li>
										<li>they have no rights in the Service</li>
										<li>they have no right to have access to the Service in source code form</li>
									</ol>
								</li>
								<li>FoodTrade will be responsible for the investigation, defence, or settlement of any intellectual property infringement claim.
								</li>
							</ol>
						</li>
						<li><strong>No warranty</strong>
							<br> The User agrees that use of the Service is at the User's sole risk, and that the entire responsibility for accuracy ends with the User. To the maximum extent permitted by applicable law, the Services are provided without warranty of any kind,
							and FoodTrade hereby disclaims all warranties and conditions with respect to the Services - either express, implied or statutory - including, but not limited to, the implied warranties and/ or conditions of merchantability, of satisfactory quality,
							of fitness for a particular purpose, of accuracy, and non-infringement of third party rights. FoodTrade does not warrant that the Service will meet the requirements of the User, that the operation of the Service will be uninterrupted, nor free
							from errors, nor that defects in the Service will be corrected. No information given by the FoodTrade or its authorised representatives will create a warranty.
						</li>
						<li>
							<strong>Limitation of liability</strong>
							<ol>
								<li>
									The User acknowledges that it is their responsibility to ensure that the outputs and functions of the Service meet their requirements. </li>
								<li>FoodTrade is not in any way responsible for the way the User uses the Service. The User understands that risks are inherent in identifying food allergens, and the User assumes sole responsibility for the materials they create using the Service.
								</li>
								<li>
									To the extent allowed under the law, FoodTrade shall not be liable for personal injury, or any incidental, special, indirect, consequential or punitive damages whatsoever, including, without limitation
									<ul>
										<li>loss of profit.</li>
										<li>
											loss of business,
										</li>
										<li> business interruption,
										</li>
										<li> loss of business opportunity,
										</li>
										<li>loss of data or
										</li>
										<li>any other commercial damages or losses arising out of or related to the User's use or inability to use the Service - even if FoodTrade has been advised of the chance of such damages.
										</li>
										<li>
											FoodTrade's total liability to the User for all damages shall not exceed &pound;100.
										</li>
										<li>
											FoodTrade is responsible for addressing any claims including, but not limited to: product liability, any claim that the Service fails to conform regulatory requirements, and claims arising under consumer protection or similar legislation.
										</li>
							</ol>
							</li>

							<li>
								<strong>Conditions of use</strong>
								<br /> The User represents and warrants that they are over 18, legally competent, and isn't wanted or opposed by the UK Government as a 'terrorist supporting' country.
							</li>
							<li>
								<strong>Termination</strong>
								<br>
								<ol>
									<li>
										The Service will run until terminated by the User or FoodTrade.
									</li>
									<li>
										The User's rights under the Service will end without notice if the User fails to comply with any of the Terms of Use.
									</li>
									<li>
										If the User has paid for use of the Service and it is terminated by FoodTrade, FoodTrade shall compensate the User pro rata for their loss.
									</li>
								</ol>
							</li>
							<li>
								<strong>Other terms</strong>
								<ol>
									<li>
										FoodTrade may transfer its rights and obligations under these Terms of Use to another person. Each User must agree these Terms of Use individually.
									</li>
									<li>
										Each of the conditions of these Terms of Use operates separately. If any court or competent authority decided that any of them are unlawful or unenforceable, the remaining conditions will remain in effect.
									</li>
									<li>
										To the extent permissisable by applicable law, the courts of England shall have jurisdiction.
									</li>
								</ol>
							</li>

							<li>
								<strong>Variations</strong>
								<ol>
									<li>
										FoodTrade is entitled to revise these Terms of Use at any time.
									</li>
									<li>
										If the User does not agree to the revised Terms of Use, he or she will not be bound by them if the User stops using the Service.
									</li>
								</ol>
							</li>
							<li>
								<strong>Disclaimer</strong>
								<br> The Service takes no responsibility or liability for the content captured, stored and maintained by the Service. It is the responsibility of the User to ensure the accuracy of the allergen data distributed.
							</li>
							<li>
								<strong>Developer name and address</strong>
								<br> FoodTrade is solely responsible for the Service and its content. Any questions, complaints or claims with respect to the Service should be directed to: Sustaination Ltd, Farthing Corner, West Tytherley, Salisbury, Wilts, SP5 1NR. E-mail:
								<a href="mailto:ed@foodtrade.com">ed@foodtrade.com</a>
							</li>


			</div>
		</div>
	</div>
</section>
