<section data-ng-controller="SearchController">
	<div class="container-responsive" role="main" id="main">
		<div class="row">
			<div class="col-xs-2">
				<input class='form-control' type='text' ng-model='query' placeholder='Type to search...' />
			</div>
		</div>
		<div class='row'>
			<div class="col-xs-7" ng-hide='isSearchView'>
				<hr />
				<a ng-click='showSearchViewFn()'><i class="fa fa-chevron-left"></i> Back to results</a>
				<hr />
				<div class="single">

					<div class="locationimage" style="background-image: url('http://i.telegraph.co.uk/multimedia/archive/02674/MINISTER_2674488b.jpg');">
						<h4 class="media-heading">
							<a>{{detailViewHit._source.BusinessName}}</a>
							<rating ng-model="detailViewHit._source.RatingValue" max="5" readonly="true"></rating>
						</h4>
					</div>


					<span class="label label-default  ">{{detailViewHit._source.BusinessType || 'Restaurant'}}</span>
					<small>
						{{getAddressByEstablishmentFn(detailViewHit)}}
					</small>
					<div class="collapse" id="ratingInfo">
						<div id="FSAinfo">
							<dl>
								<dt>
									Overall
								</dt>
								<dd class="ng-binding">

								</dd>
								<dt>
									Hygiene
								</dt>
								<dd class="ng-binding">

								</dd>
								<dt>
									Structural
								</dt>
								<dd class="ng-binding">

								</dd>
								<dt>
									Confidence in management
								</dt>
								<dd class="ng-binding">

								</dd>
							</dl>
						</div>

					</div>
					<div class="btn-group btn-group-justified">
<!--
						<a class="btn btn-default action">
							<i class="fa fa-phone"></i> Call
						</a>
						<a class="btn btn-default action">
							<i class="fa fa-globe"></i> Website
						</a> -->
						<a class="btn btn-default action" ng-href='https://www.google.com/maps/dir/Current+Location/{{detailViewHit._source.geocode[1]}},{{detailViewHit._source.geocode[0]}}' target="_blank">
							<i class="fa fa-location-arrow"></i> Directions
						</a>
					</div>
					<div class="menu hidden">

						<section>
							<h4>Lunch</h4>
							<div class="menuitem">

								<h5>
									Lasagne al Verde
									<span class="price"> £8.75</span>
								</h5>
								<p class="text-muted ingredients">
									<span class="allergen gluten">Pasta (wheat flour)</span>
									<!-- NOTE: in above example 'wheat flour' in brackets is the allergen detail that goes below the checkbox in the allergen grid -->
									<span class="">tomato</span>
									<span class="">mince beef</span>
									<span class="allergen allium">garlic</span>
									<span class="allergen peanuts">peanuts</span>
								</p>
								<p class="tags">
									<i class="fa fa-tags text-muted"></i>
									<a href="#">organic</a>
									<a href="#">MSC3</a>
									<a href="#">locally sourced</a>
								</p>

							</div>
						</section>

						<pre>
							if no menu.. upload a photo (camera, mobile) email us a phioto add twitter email for biz add tags claim
						</pre>
					</div>
				</div>

				<hr />
			</div>
			<div class="col-xs-7" ng-show='isSearchView'>
				<div class='row' ng-hide='hits.length'>
					No matches, please search something else.
				</div>
				<div class='row' ng-repeat='hit in hits' ng-show='hits.length'>
					<hr/>
					<div class="media">
						<a href="#" class="pull-right">
							<img alt="Bootstrap Media Preview" src="http://lorempixel.com/64/64/" class="media-object">
						</a>
						<div class="media-body">
							<h4 class="media-heading">
								<a ng-click='showDetailViewFn(hit)'>{{hit._source.BusinessName}}</a>
								<rating ng-model="hit._source.RatingValue" max="5" readonly="true"></rating>
							</h4>
							<span class="label label-default  ">{{hit._source.BusinessType || 'Restaurant'}}</span>
							<small>
								{{getAddressByEstablishmentFn(hit)}}
							</small>
							<div class="btn-group btn-group-sm" style="margin-top: 10px;">

								<!-- <button class="btn btn-default" type="button">
									<i class="fa fa-phone"></i> Call
								</button>
								<button class="btn btn-default" type="button">
									<i class="fa fa-globe"></i> Website
								</button> -->
								<a ng-href='https://www.google.com/maps/dir/Current+Location/{{hit._source.geocode[1]}},{{hit._source.geocode[0]}}' target="_blank">
									<i class="fa fa-location-arrow"></i> Directions
								</a>
							</div>
						</div>
					</div>
					<hr/>
				</div>
				<div class='row' ng-show='hits.length'>
					<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page='pageLimit'></pagination>
				</div>
			</div>
			<div class="col-xs-5">
				<ui-gmap-google-map center='map.center' zoom='map.zoom' control='mapControl'>
					<ui-gmap-markers models="hitMarkers" coords="'self'" idkey="'id'" doRebuildAll=true fit=true events="markerEvents" control='markerControl'>
						<ui-gmap-windows>
							<div ng-non-bindable>{{title}}</div>
							<a ng-href='https://www.google.com/maps/dir/Current+Location/{{latitude}},{{longitude}}' target="_blank">
								<i class="fa fa-location-arrow"></i> Directions
							</a>
							</ui-gmap-window>
					</ui-gmap-markers>
				</ui-gmap-google-map>
			</div>
		</div>
	</div>
</section>
