<section data-ng-controller="SearchController">
	<div class="container-responsive" role="main" id="main">
		<div class="row">
			<div class="col-sm-7">
				<form class="form-horizontal" role="form">
					<div class="form-group">

						<label for="inputEmail3" class="col-sm-2 control-label">
							Email
						</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="inputEmail3" />
						</div>
					</div>
					<div class="form-group">

						<label for="inputPassword3" class="col-sm-2 control-label">
							Password
						</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword3" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">

								<label>
									<input type="checkbox" /> Remember me
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">

							<button type="submit" class="btn btn-default">
								Sign in
							</button>
						</div>
					</div>
				</form>
				<hr />

				<div class="media">
					<a href="#" class="pull-right">
						<img alt="Bootstrap Media Preview" src="http://lorempixel.com/64/64/" class="media-object" />
					</a>
					<div class="media-body">
						<h4 class="media-heading">
							<a href="#">The People's Restaurant</a>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
						</h4>
						<span class="label label-default  ">Restaurant</span>
						<small>
							72-76 Lamb's Conduit Street, London WC1N 3LP
						</small>
						<div class="btn-group btn-group-sm" style="margin-top: 10px;">

							<button class="btn btn-default" type="button">
								<i class="fa fa-phone"></i> Call
							</button>
							<button class="btn btn-default" type="button">
								<i class="fa fa-globe"></i> Website
							</button>
							<button class="btn btn-default" type="button">
								<i class="fa fa-location-arrow"></i> Directions
							</button>
						</div>
					</div>
				</div>
				<hr />
				<hr />
				<a href="#"><i class="fa fa-chevron-left"></i> Back to results</a>
				<hr />
				<div class="single">

					<div class="locationimage" style="background-image: url('http://i.telegraph.co.uk/multimedia/archive/02674/MINISTER_2674488b.jpg');">
						<h4 class="media-heading">
							<a href="#">The People's Restaurant</a>
							<span class="rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<span class="" data-toggle="collapse" data-target="#ratingInfo">
									<i class="fa fa-info-circle"></i>
								</span>
							</span>
						</h4>
					</div>


					<span class="label label-default  ">Restaurant</span>
					<small>
						72-76 Lamb's Conduit Street, London WC1N 3LP
					</small>
					<div class="collapse" id="ratingInfo">
						<div id="FSAinfo" >
						<dl>
							<dt>
								Overall
							</dt>
							<dd class="ng-binding">

							</dd>
							<dt>
								Hygiene
							</dt>
							<dd class="ng-binding">

							</dd>
							<dt>
								Structural
							</dt>
							<dd class="ng-binding">

							</dd>
							<dt>
								Confidence in management
							</dt>
							<dd class="ng-binding">

							</dd>
						</dl>
						</div>

					</div>
					<div class="btn-group btn-group-justified">

						<a class="btn btn-default action">
							<i class="fa fa-phone"></i> Call
						</a>
						<a class="btn btn-default action">
							<i class="fa fa-globe"></i> Website
						</a>
						<a class="btn btn-default action" >
							<i class="fa fa-location-arrow"></i> Directions
						</a>
					</div>
					<div class="menu">

						<section>
							<h4>Lunch</h4>
							<div class="menuitem">

								<h5>
									Lasagne al Verde
										<span class="price"> £8.75</span>
								</h5>
								<p class="text-muted ingredients">
									<span class="allergen gluten">Pasta (wheat flour)</span>
									<!-- NOTE: in above example 'wheat flour' in brackets is the allergen detail that goes below the checkbox in the allergen grid -->
									<span class="">tomato</span>
									<span class="">mince beef</span>
									<span class="allergen allium">garlic</span>
									<span class="allergen peanuts">peanuts</span>
								</p>
								<p class="tags">
									<i class="fa fa-tags text-muted"></i>
									<a href="#">organic</a>
									<a href="#">MSC3</a>
									<a href="#">locally sourced</a>
								</p>

							</div>
						</section>

						<pre>
							if no menu..
							upload a photo (camera, mobile)
						    email us a phioto
							add twitter  email for biz
							add tags
							claim
						</pre>
					</div>
				</div>

				<hr />
				<ul class="pagination">
					<li> <a href="#">Prev</a>
					</li>
					<li> <a href="#">1</a>
					</li>
					<li> <a href="#">2</a>
					</li>
					<li> <a href="#">3</a>
					</li>
					<li> <a href="#">4</a>
					</li>
					<li> <a href="#">5</a>
					</li>
					<li> <a href="#">Next</a> </li>
				</ul>
			</div>
			<div class="col-sm-5">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon!5e0!3m2!1sen!2suk!4v1436311406001"
				width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>



		<div class="row">
			<div class="col-xs-2">
				<input class='form-control' type='text' ng-model='query' placeholder='Type to search...' />
			</div>
		</div>
		<div class='row'>
			<div class="col-xs-6">
				<ul>
					<li ng-repeat='hit in hits'>{{hit._source.BusinessName}}</li>
				</ul>
			</div>
			<div class="col-xs-6">
				<ui-gmap-google-map center='map.center' zoom='map.zoom'>
					<ui-gmap-markers models="hits" coords="'_source.geocode'" idkey="'_id'"></ui-gmap-markers>
				</ui-gmap-google-map>
			</div>
		</div>
	</div>
</section>
