@import 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.min.css';
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
.u,
.underline {
  text-decoration: underline;
}
.b,
.bold,
.strong {
  font-weight: bold;
}
.highlight {
  background: #ffc;
  padding: 1px 2px;
}
.innerAll {
  padding: 1em !important;
}
.innerLR {
  padding: 0 1em;
}
.innerR {
  padding-right: 1em;
}
.innerTB {
  padding: 1em 0;
}
.innerT {
  padding-top: 1em;
}
.innerB {
  padding-bottom: 1em;
}
.heading {
  padding: 0.8em;
  margin-bottom: 3em !important;
  display: block;
}
@media (max-width: 768px) {
  .heading {
    margin-bottom: 1em !important;
  }
}
.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.label-stroke {
  border: 1px solid #ccc;
  background: none;
  color: #444;
  font-weight: normal;
  text-transform: none;
}
.text-muted {
  color: #999 !important;
}
.noborder {
  border: 0;
}
.nomargin {
  margin: 0 !important;
}
.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
.bg-white {
  background: #fff;
}
.borderL {
  border-left: 1px solid #ccc;
}
.borderR {
  border-right: 1px solid #ccc;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.mR10 {
  margin-right: 10px;
}
body {
  background: #ffff !important;
}
#packshot {
  -webkit-box-shadow: 2px 2px 20px #cccccc;
  -moz-box-shadow: 2px 2px 20px #cccccc;
  box-shadow: 2px 2px 20px #cccccc;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
}
.ng-valid.ng-dirty {
  border-color: slategrey;
}
#main {
  margin-top: 80px;
  padding: 10px 10px 80px 10px;
  background: #fff;
}
.floatThead-table #save,
#allergygrid #save {
  float: right;
  padding: 5px 10px;
}
.floatThead-table th,
#allergygrid th {
  background: #e9f0db;
  font-weight: normal;
  font-size: 12px;
  border-color: #95ba55;
  border-collapse: collapse;
  border-bottom: 1px solid #999;
}
@media (max-width: 992px) {
  .floatThead-table th img,
  #allergygrid th img {
    width: 30px;
    height: 30px;
  }
}
.floatThead-table th.white,
#allergygrid th.white {
  background: #fff !important;
  border: 1px solid #fff;
  border-bottom: 1px solid #999;
}
.floatThead-table th.trash,
#allergygrid th.trash {
  border-right: 1px solid #999;
}
.floatThead-table th.diet,
#allergygrid th.diet {
  background: #eee !important;
  border: 1px solid #ccc;
  border-bottom: 1px solid #999;
  border-right: 1px solid #d04a05;
}
.floatThead-table th.diet i,
#allergygrid th.diet i {
  color: #999 !important;
}
.floatThead-table th.nuts,
#allergygrid th.nuts {
  background: #fee4d6 !important;
  border: 1px solid #d04a05;
  border-bottom: 1px solid #999;
}
.floatThead-table th.sea,
#allergygrid th.sea {
  background: #d7f0f6 !important;
  border: 1px solid #8cd3e6;
}
.floatThead-table th.green,
#allergygrid th.green {
  background: #e9f0db !important;
  border: 1px solid #acc87a;
}
.floatThead-table th.dairy,
#allergygrid th.dairy {
  background: #f9f3e2 !important;
  border: 1px solid #eddaa2;
  border-bottom: 1px solid #999;
}
.floatThead-table th.sulphites,
#allergygrid th.sulphites {
  background: #f2d9e9 !important;
  border: 1px solid #c14895;
  border-bottom: 1px solid #999;
}
@media (max-width: 992px) {
  .floatThead-table th.rotate,
  #allergygrid th.rotate {
    height: 125px;
    white-space: nowrap;
  }
  .floatThead-table th.rotate > div,
  #allergygrid th.rotate > div {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 30px;
  }
  .floatThead-table th.rotate > div > span,
  #allergygrid th.rotate > div > span {
    padding: 5px;
  }
}
.floatThead-table .itemname,
#allergygrid .itemname {
  white-space: normal !important;
  text-align: left !important;
}
.floatThead-table .itemname textarea,
#allergygrid .itemname textarea {
  height: 30px;
  padding: 1px 5px;
  line-height: 30px;
  margin: 0 0 4px;
  width: 210px;
}
.floatThead-table .itemname .dish,
#allergygrid .itemname .dish {
  float: left;
  width: 75%;
  height: 30px !important;
}
.floatThead-table .itemname input,
#allergygrid .itemname input {
  margin-bottom: 4px;
  padding: 2px 5px;
  height: auto;
  width: 80%;
}
.floatThead-table .itemname select,
#allergygrid .itemname select {
  width: 200px;
}
.floatThead-table .itemname small a,
#allergygrid .itemname small a {
  margin-right: 2px;
  font-size: 10px;
  border-bottom: 1px dotted #aaa;
}
.floatThead-table .itemname small a:hover,
#allergygrid .itemname small a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}
.floatThead-table .itemname .editable-click,
#allergygrid .itemname .editable-click,
.floatThead-table .itemname a.editable-click,
#allergygrid .itemname a.editable-click {
  border: 0;
  display: block;
}
.floatThead-table .itemname .editable-empty,
#allergygrid .itemname .editable-empty {
  visibility: hidden;
  display: inline-block !important;
}
.floatThead-table .itemname:hover .name:after,
#allergygrid .itemname:hover .name:after {
  content: 'edit';
  font-weight: normal;
  color: #337ab7;
  padding: 0 5px;
}
.floatThead-table .itemname:hover .editable-empty,
#allergygrid .itemname:hover .editable-empty {
  visibility: visible;
}
.floatThead-table .itemname:hover .editable-click,
#allergygrid .itemname:hover .editable-click,
.floatThead-table .itemname:hover a.editable-click,
#allergygrid .itemname:hover a.editable-click {
  border-bottom: 1px dashed #337ab7;
}
.floatThead-table .ingredient,
#allergygrid .ingredient {
  padding-left: 18px;
}
.floatThead-table .ingredient *,
#allergygrid .ingredient * {
  font-weight: normal !important;
}
.floatThead-table td,
#allergygrid td {
  border-top: 1px solid #999;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-collapse: collapse;
  padding: 4px 3px;
}
.floatThead-table td i,
#allergygrid td i {
  font-size: 16px !important;
}
.floatThead-table td i.text-muted,
#allergygrid td i.text-muted {
  color: #bbb !important;
}
.floatThead-table td:hover i.text-muted,
#allergygrid td:hover i.text-muted {
  color: #666 !important;
}
.floatThead-table #svg th,
#allergygrid #svg th {
  background: none;
  vertical-align: middle;
  text-align: center;
}
.floatThead-table #svg th .foodicon,
#allergygrid #svg th .foodicon {
  font-size: 30px;
  color: #000;
}
.floatThead-table .section,
#allergygrid .section {
  background: #444;
  color: #fff;
  text-align: left;
  border: 0;
}
.floatThead-table .section a,
#allergygrid .section a {
  color: #ccc;
}
.floatThead-table .section a:hover,
#allergygrid .section a:hover {
  color: #fff;
}
.floatThead-table .section .itemname,
#allergygrid .section .itemname {
  color: #fff;
}
.floatThead-table .section .itemname:hover .name:after,
#allergygrid .section .itemname:hover .name:after {
  color: #eee !important;
  text-transform: none;
}
.floatThead-table .section td,
#allergygrid .section td {
  border: 0;
}
.floatThead-table .section td i,
#allergygrid .section td i {
  display: none;
}
.floatThead-table .section td.trash,
#allergygrid .section td.trash {
  border: 0;
}
.floatThead-table .section td.trash i,
#allergygrid .section td.trash i {
  display: block;
  color: #fff;
}
.floatThead-table .section .editable-empty,
#allergygrid .section .editable-empty {
  display: none;
}
.floatThead-table .child,
#allergygrid .child {
  border: 0;
}
.floatThead-table .child td,
#allergygrid .child td {
  border: 1px dotted #ccc;
}
.floatThead-table .dish div,
#allergygrid .dish div {
  text-align: left;
  white-space: nowrap;
  width: 10%;
}
.floatThead-table .ingredient .dish,
#allergygrid .ingredient .dish {
  font-style: italic;
  text-indent: 20px;
}
.floatThead-table .ingredient td,
#allergygrid .ingredient td {
  border: 1px dashed #ccc;
  border-right: 1px solid #ccc !Important;
}
.floatThead-table .parent .dish,
#allergygrid .parent .dish {
  font-weight: bold;
}
.floatThead-table .parent td,
#allergygrid .parent td {
  border: 1px dashed #ccc;
  border-top: 2px solid #ccc !Important;
  border-right: 1px solid #ccc !Important;
}
.floatThead-table .newdish td,
#allergygrid .newdish td {
  background: #ffe;
}
.floatThead-table td,
#allergygrid td {
  vertical-align: middle;
  text-align: center;
  width: 6.5%;
}
.navbar {
  border-bottom: 1px solid #ccc;
  top: 25px;
  height: 51px;
  background: #fff;
  min-height: 28px;
  -webkit-box-shadow: 0 0 8px #cccccc;
  -moz-box-shadow: 0 0 8px #cccccc;
  box-shadow: 0 0 8px #cccccc;
  padding: 10px;
  margin: 0;
}
.navbar a {
  padding: 2px 10px;
  margin: 1px 0;
  font-size: 12px;
}
.navbar .navbar-brand {
  padding: 0 15px 0 0;
  height: auto;
}
.navbar .navbar-nav li a {
  margin-top: 1px;
  padding: 5px 10px;
}
.navbar .navbar-nav li a.btn {
  text-transform: uppercase !Important;
  padding: 8px 10px;
  margin-top: -3px;
}
.navbar .navbar-nav li a i {
  font-weight: bold;
}
#menus {
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  border: 1px solid #ccc;
  margin: auto 20px;
}
#menuname {
  border: 1px solid transparent;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  -webkit-border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px;
  -moz-background-clip: padding;
  border-radius: 6px;
  background-clip: padding-box;
}
#menuname:hover {
  border: 1px solid #ccc;
}
#menuname .editable-click,
#menuname a.editable-click {
  color: #444;
  border: 0;
}
.btn-xl {
  font-size: 40px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 45px;
}
.price {
  font-size: 25px;
  float: left;
}
.pricing_header {
  background: #e99c21;
  border-radius: 5px 5px 0 0;
  transition: background 0.4s ease-out 0s;
}
.pricing_header h2 {
  text-align: center;
  padding: 15px 0;
  margin: 0;
  font-weight: 400;
  color: #fff;
}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.off {
  text-decoration: line-through;
  color: #565656;
}
.space {
  height: 2px;
  background-color: #75b1ae;
}
.meat {
  background: #ffc;
}
.meat img {
  width: 40px !important;
}
.notes {
  font-style: italic;
  margin-left: 10px;
  margin-bottom: 0;
  color: #999;
}
.actions {
  text-align: left;
  margin: 0;
  background: #ffe;
}
.actions a {
  margin-right: 3px;
}
.popover .popover-content {
  padding: 0;
}
.popover .spacing {
  padding: 3px 10px 10px;
}
.popover .form-actions {
  background: #eee;
  padding: 3px 5px;
  text-align: left;
}
.popover .btn {
  text-shadow: none;
}
.help-block {
  font-size: 12px;
  color: #999;
}
.required {
  background: rgba(200, 50, 50, 0.03);
  border: 1px solid #c00;
}
.required::-webkit-input-placeholder {
  color: #cc0000;
}
.required:-moz-placeholder {
  color: #cc0000;
}
.required::-moz-placeholder {
  color: #cc0000;
}
.required:-ms-input-placeholder {
  color: #cc0000;
}
tags-input .tags .tag-item {
  font-size: 12px;
  padding: 2px 4px !important;
  line-height: 1;
  height: 21px;
}
tags-input .tags .tag-item .remove-button {
  color: rgba(255, 255, 255, 0.6);
}
.modal-header {
  background: #d9e6c2;
  padding: 6px 15px 0 15px;
}
@media (max-width: 992px) {
  .modal-body .form-group {
    margin-bottom: 3px;
  }
}
.modal-body ul {
  padding: 0 20px 20px 20px;
}
.modal-body h4 {
  border-bottom: 1px solid #ccc;
}
.itemname .name {
  font-weight: bold;
  text-transform: capitalize;
}
.itemname .note {
  font-style: italic;
  color: #999;
}
.itemname .priced {
  float: right;
  margin-right: 3px;
}
.itemname .priced::before {
  content: '£';
}
.itemname .characteristic span {
  color: #999;
  font-size: 10px;
  margin-right: 4px;
  padding: 0 2px;
  border: 1px solid #ddd;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#print tr.child td {
  padding-left: 20px;
}
#print tr.child td .name {
  font-weight: normal !important;
}
#print #allergygrid th.rotate {
  background-color: #fff !important;
  padding: 0;
}
#print #allergygrid th.rotate img {
  height: 100% !important;
  width: 100% !important;
  position: relative;
  top: 27px;
}
#print #allergygrid th.rotate div {
  padding: 5px;
}
#print .text-muted {
  color: #eee !important;
}
.floatThead-floatContainer {
  margin-top: 70px !important;
}
.floatThead-table thead th {
  text-align: center;
  font-weight: normal;
  font-size: 10px;
  height: 70px;
  z-index: 10000;
}
.floatThead-table thead th i {
  font-size: 30px;
}
.floatThead-table .hm,
.floatThead-table #allergynames {
  display: none;
}
.text-white {
  color: #fff !important;
}
#survey {
  position: fixed !important;
  bottom: 20px;
  left: 0;
  font-size: 16px;
  width: 100%;
  padding: 5px 10px;
  text-align: center;
  background: #ffc;
  border-top: 2px solid #f90;
}
#survey .btn {
  font-size: 16px;
  padding: 4px 15px;
  text-shadow: 1px 1px 2px #610;
}
#top,
#footer {
  position: fixed !important;
  bottom: 0;
  left: 0;
  font-size: 12px;
  color: #fff;
  width: 100%;
  padding: 2px 10px;
  text-align: left;
  background: #000;
}
#top a,
#footer a {
  color: #ccc;
}
#top a:hover,
#footer a:hover {
  color: #fff;
}
#top {
  top: 0;
  bottom: auto;
  background: #444;
  line-height: 25px;
}
#top .btn {
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff !important;
}
.onboarding-focus {
  z-index: 100000;
  position: relative;
}
td.onboarding-focus .popover {
  position: absolute;
  left: -85px !important;
  top: 50px !important;
  width: 210px;
}
.onboarding-popover.onboarding-top {
  margin-top: 80px;
}
#fsa_results {
  max-height: 10em;
  overflow: scroll;
  border: 1px solid #ccc;
  padding: 0;
}
#fsa_results li {
  list-style: none;
  border-bottom: 1px solid #eee;
  line-height: 1.7;
}
#fsa_results li a {
  color: navy;
  padding: 0 10px;
  width: 100%;
  display: block;
}
#fsa_results li a:hover {
  background: #eee;
  text-decoration: none;
}
