@import 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.min.css';
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
.u,
.underline {
  text-decoration: underline;
}
.b,
.bold,
.strong {
  font-weight: bold;
}
.highlight {
  background: #ffc;
  padding: 1px 2px;
}
.innerAll {
  padding: 1em !important;
}
.innerLR {
  padding: 0 1em;
}
.innerR {
  padding-right: 1em;
}
.innerTB {
  padding: 1em 0;
}
.innerT {
  padding-top: 1em;
}
.innerB {
  padding-bottom: 1em;
}
.heading {
  padding: 0.8em;
  margin-bottom: 3em !important;
  display: block;
}
@media (max-width: 768px) {
  .heading {
    margin-bottom: 1em !important;
  }
}
.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.label-stroke {
  border: 1px solid #ccc;
  background: none;
  color: #444;
  font-weight: normal;
  text-transform: none;
}
.text-muted {
  color: #999 !important;
}
.noborder {
  border: 0;
}
.nomargin {
  margin: 0 !important;
}
.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
.bg-white {
  background: #fff;
}
.borderL {
  border-left: 1px solid #ccc;
}
.borderR {
  border-right: 1px solid #ccc;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.mR10 {
  margin-right: 10px;
}
body {
  background: #f9f9f9 !important;
}
#packshot {
  -webkit-box-shadow: 2px 2px 20px #cccccc;
  -moz-box-shadow: 2px 2px 20px #cccccc;
  box-shadow: 2px 2px 20px #cccccc;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
}
.ng-valid.ng-dirty {
  border-color: slategrey;
}
#main {
  margin-top: 60px;
  padding: 10px 10px 50px;
  background: #fff;
}
#allergygrid #save {
  float: right;
  padding: 5px 10px;
}
#allergygrid th {
  background: #d9e6c2;
  font-weight: normal;
  font-size: 12px;
  border-color: #95ba55;
  border-collapse: collapse;
}
@media (max-width: 992px) {
  #allergygrid th img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 992px) {
  #allergygrid th.rotate {
    height: 170px;
    white-space: nowrap;
  }
  #allergygrid th.rotate > div {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 30px;
  }
  #allergygrid th.rotate > div > span {
    padding: 5px;
  }
}
#allergygrid .itemname {
  white-space: nowrap !important;
  text-align: left !important;
}
#allergygrid .itemname textarea {
  height: 30px;
  padding: 1px 5px;
  line-height: 30px;
  margin: 0 0 4px;
  width: 210px;
}
#allergygrid .itemname .dish {
  float: left;
  width: 75%;
  height: 30px !important;
}
#allergygrid .itemname input {
  margin-bottom: 4px;
  padding: 2px 5px;
  height: auto;
}
#allergygrid .itemname select {
  width: 200px;
}
#allergygrid .itemname small a {
  margin-right: 2px;
  font-size: 10px;
  border-bottom: 1px dotted #aaa;
}
#allergygrid .itemname small a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}
#allergygrid .ingredient {
  padding-left: 18px;
}
#allergygrid .ingredient * {
  font-weight: normal !important;
}
#allergygrid td {
  border-top: 1px solid #999;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-collapse: collapse;
  padding: 4px 3px;
}
#allergygrid td i {
  font-size: 16px !important;
}
#allergygrid td i.text-muted {
  color: #ddd !important;
}
#allergygrid #svg th {
  background: none;
  vertical-align: middle;
  text-align: center;
}
#allergygrid #svg th img,
#allergygrid #svg th svg {
  width: 30px;
  max-height: 80px;
  margin: 0 auto;
}
#allergygrid .section {
  background: #444;
  color: #fff;
  text-align: left;
  border: 0;
}
#allergygrid .section td {
  border: 0;
}
#allergygrid .section td i {
  display: none;
}
#allergygrid .child {
  border: 0;
}
#allergygrid .child td {
  border: 1px dotted #ccc;
}
#allergygrid .dish div {
  text-align: left;
  white-space: nowrap;
  /*width: 10%;*/
}
#allergygrid .ingredient .dish {
  font-style: italic;
  text-indent: 20px;
}
#allergygrid .ingredient td {
  border: 1px dashed #ccc;
  border-right: 1px solid #ccc !Important;
}
#allergygrid .parent .dish {
  font-weight: bold;
}
#allergygrid .parent td {
  border: 1px dashed #ccc;
  border-top: 2px solid #ccc !Important;
  border-right: 1px solid #ccc !Important;
}
#allergygrid .newdish td {
  background: #eee;
}
#allergygrid td {
  vertical-align: middle;
  text-align: center;
  width: 6.5%;
}
.navbar {
  border-bottom: 1px solid #ccc;
  height: 51px;
  background: #fff;
  min-height: 28px;
  -webkit-box-shadow: 0 0 8px #cccccc;
  -moz-box-shadow: 0 0 8px #cccccc;
  box-shadow: 0 0 8px #cccccc;
  padding: 10px;
  margin: 0;
}
.navbar a {
  padding: 2px 10px;
  margin: 1px 0;
  font-size: 12px;
}
.navbar .navbar-brand {
  padding: 0 15px 0 0;
  height: auto;
}
.navbar .navbar-nav li a {
  padding: 2px 10px;
  margin-top: 1px;
}
#menus {
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  border: 1px solid #ccc;
  margin: auto 20px;
}
#menuname {
  border: 1px solid transparent;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  -webkit-border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px;
  -moz-background-clip: padding;
  border-radius: 6px;
  background-clip: padding-box;
}
#menuname:hover {
  border: 1px solid #ccc;
}
.btn-xl {
  font-size: 40px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 45px;
}
.price {
  font-size: 25px;
  float: left;
}
.pricing_header {
  background: #e99c21;
  border-radius: 5px 5px 0 0;
  transition: background 0.4s ease-out 0s;
}
.pricing_header h2 {
  text-align: center;
  padding: 15px 0;
  margin: 0;
  font-weight: 400;
  color: #fff;
}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.off {
  text-decoration: line-through;
  color: #565656;
}
.space {
  height: 2px;
  background-color: #75b1ae;
}
.meat {
  background: #ffc;
}
.meat img {
  width: 40px !important;
}
.notes {
  font-style: italic;
  margin-left: 10px;
  margin-bottom: 0;
  color: #999;
}
.actions {
  text-align: left;
  margin: 0;
}
.actions a {
  margin-right: 3px;
}
.popover .popover-content {
  padding: 0;
}
.popover .spacing {
  padding: 3px 10px 10px;
}
.popover .form-actions {
  background: #eee;
  padding: 3px 5px;
  text-align: left;
}
.popover .btn {
  text-shadow: none;
}
.help-block {
  font-size: 12px;
  color: #999;
}
tags-input .tags .tag-item {
  font-size: 12px;
  padding: 2px 4px !important;
  line-height: 1;
  height: 21px;
}
tags-input .tags .tag-item .remove-button {
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 992px) {
  .modal-body .form-group {
    margin-bottom: 3px;
  }
}
.itemname .name {
  font-weight: bold;
  text-transform: capitalize;
}
.itemname .name:hover:after {
  content: 'edit';
  font-weight: normal;
  color: #337ab7;
  padding-left: 10px;
}
.itemname .note {
  font-style: italic;
  color: #999;
}
.itemname .priced {
  float: right;
  margin-right: 3px;
}
.itemname .priced::before {
  content: '£';
}
.itemname .characteristic span {
  color: #999;
  font-size: 10px;
  margin-right: 4px;
  padding: 0 2px;
  border: 1px solid #ddd;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
