<section data-ng-controller="SettingsController">
	<div class="container-responsive" role="main" id="main">
		<div class="col-sm-9">
			<h3 class="text-center">Edit your profile</h3>
				<form name="userForm" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div class="form-group">
							<label for="username" class="col-md-3 control-label">First Name</label>
							<div class="col-md-8">
								<div class="input-group">
									<input type="text" id="username" name="username" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="username" class="col-md-3 control-label">Last Name</label>
							<div class="col-md-8">
								<div class="input-group">
									<input type="text" id="username" name="username" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="email">Email</label>
							<div class="col-md-8">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
									<input id="email" name="email" class="form-control" placeholder="Your email" type="text" required="" ng-model='user.email'>
								</div>

							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-3 control-label" for="postcode">Postal code</label>
							<div class="col-md-8">
								<input id="postcode" name="postcode" type="text" placeholder="Postal code" class="form-control input-md" required="" ng-model='establishment.PostCode'>
								<span class="help-block">Business postal / zip code</span>
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-3 control-label" for="establishment">Business name</label>
							<div class="col-md-8">
								<input id="establishment" name="establishment" type="text" placeholder="Start typing to match.. " class="form-control input-md" required="" ng-model='establishment.BusinessName'>
								<span class="help-block">This pulls information from the Food Standards Agency database. If you're not listed, click here</span>
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-3 control-label" for="phone">Phone number</label>
							<div class="col-md-8">
								<input id="phone" name="phone" type="text" placeholder="0207 193 2999" class="form-control input-md" ng-model='establishment.Phone'>
								<span class="help-block">What number can customers call you on?</span>
							</div>
						</div>

						<!-- Prepended text-->
						<div class="form-group">
							<label class="col-md-3 control-label" for="website">Website</label>
							<div class="col-md-8">
								<div class="input-group">
									<span class="input-group-addon">http://</span>
									<input id="website" name="website" class="form-control" placeholder="www.yoursite.com" type="text" ng-model='establishment.WebSite'>
								</div>

							</div>
						</div>
						<div class="text-center form-group">
		          <button class="btn btn-large btn-primary" ng-click='updateUserProfile()'>Update</button>
		        </div>
		        <div data-ng-show="error" class="text-center text-danger">
		          <strong data-ng-bind="error"></strong>
		        </div>
					</fieldset>
				</form>
			</div>
		</div>
</section>
