<div>

    <div class="clearfix">
        <i class="fa cell-edit-new" data-ng-class="{'fa-minus-square-o': cell.allergenType == 'Removable', 'fa-square-o': cell.allergenType == 'No allergen', 'fa-check-square-o': cell.allergenType == 'Fixed'}"></i>
    </div>

    <span ng-show="cell.allergens">{{cell.allergens}}</span>
</div>
<div class="cell-new-{{columnName}} hidden">
    <form class="">
        <div class="spacing">

            <div class="btn-group btn-group-xs" role="group" aria-label="" style="padding: 10px 0;">
                <button type="button" class="btn btn-default" ng-class="{'btn-success': placeholderCell.allergenType == 'No allergen'}" ng-click='placeholderCell.allergenType="No allergen"'>No allergen</button>
                <button type="button" class="btn btn-default" ng-class="{'btn-warning': placeholderCell.allergenType == 'Removable'}" ng-click='placeholderCell.allergenType="Removable"'>Removable</button>
                <button type="button" class="btn btn-default" ng-class="{'btn-danger': placeholderCell.allergenType == 'Fixed'}" ng-click='placeholderCell.allergenType="Fixed"'>Fixed</button>
            </div>

            <div class="form- group">
                <label for="exampleInputName2" class="sr-only">Allergen name</label>
                <input type="text" class="form-control input-sm" id="nnn" placeholder="Notes / specify allergen(s)" ng-model='placeholderCell.allergens' ng-hide='placeholderCell.allergenType=="No allergen"' ng-keypress='inputDismissFn($event)'>
            </div>
        </div>

        <div class="form-actions">
            <button type="button" class="btn btn-success btn-xs" ng-click='saveCellEditFn()'>
                <i class="fa fa-save"></i> Save
            </button>

            <button type="button" class="btn btn-default btn-xs pull-right" ng-click='cancelCellEditFn()'>
                <i class="fa fa-times"></i> Cancel
            </button>
        </div>
    </form>
</div>
