<section data-ng-controller="GridsController" data-ng-init="findOne()">
    <div class="container-responsive" role="main" id="main">


        <div class="row">
            <div class="col-xs-6">
                <h2 id="menuname" data-ng-bind="grid.name">
                    <small><i class="fa fa-fw fa-pencil text-muted"></i></small>
                </h2>
                <small>
                </small>
            </div>
            <small>
                <div class="col-xs-6 text-right innerAll">
                    <a href="#" class="btn btn-sm btn-default pull-right"><i class="fa fa-users fa-fw"></i> Collaborate</a>
                    <a href="#" class="btn btn-sm btn-default pull-right mR10">
                        <i class="fa fa-print fa-fw"></i> Print</a>

                    <div class="input-group input-group-sm col-xs-4 pull-right mR10">
                        <span class="input-group-addon">Share</span>
                        <input type="text" class="form-control" aria-label="URL" value="ftm.co/746dd6">
                        <span class="input-group-addon"><i class="fa fa-copy"></i></span>
                    </div>
                </div>
            </small>
        </div>
        <small>
            <div class="row">
                <div class="col-xs-12">
                    <form role="form" class="form-horizontal">
                        <table class="table table-condensed table-bordered" id="allergygrid">
                            <thead>
                                <tr id="svg">
                                    <th></th>
                                    <th>
                                        <img src="modules/grids/img/bones.svg">
                                    </th>
                                    <th>
                                        <img src="modules/grids/img/celery.svg">
                                    </th>
                                    <th>
                                        <img src="modules/grids/img/gluten.svg">
                                    </th>
                                    <th>
                                        <img src="modules/grids/img/crustacean.svg">
                                    </th>
                                    <th>
                                        <img src="modules/grids/img/eggs.svg">
                                    </th>
                                    <th>
                                        <img src="modules/grids/img/fish.svg">
                                    </th>
                                    <th>
                                        <img src="modules/grids/img/lupin.svg">
                                    </th>
                                    <th>
                                        <img src="modules/grids/img/milk.svg">
                                    </th>
                                    <th>
                                        <img src="modules/grids/img/mollusc.svg">
                                    </th>
                                    <th>
                                        <img src="modules/grids/img/mustard.svg">
                                    </th>
                                    <th>
                                        <img src="modules/grids/img/nuts.svg">
                                    </th>
                                    <th>
                                        <img src="modules/grids/img/peanuts.svg">
                                    </th>
                                    <th>
                                        <img src="modules/grids/img/sesame.svg">
                                    </th>
                                    <th>
                                        <img src="modules/grids/img/soy.svg">
                                    </th>
                                    <th>
                                        <img src="modules/grids/img/sulphur.svg">
                                    </th>
                                    <th>
                                        Other
                                    </th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Veggie?</th>
                                    <th>Celery</th>
                                    <th>

                                        Cereals containing gluten
                                        <acronym data-toggle="toolip" title="Info about what contains glutens">
                                            <i class="fa fa-info-circle text-muted"></i>
                                        </acronym>

                                    </th>
                                    <th>
                                        Crustaceans
                                        <acronym data-toggle="toolip" title="Info about what contains glutens">
                                            <i class="fa fa-info-circle text-muted"></i>
                                        </acronym>
                                    </th>
                                    <th>Eggs</th>
                                    <th>Fish</th>
                                    <th>Lupin</th>
                                    <th>Milk</th>
                                    <th>Molluscs</th>
                                    <th>Mustard</th>
                                    <th>Nuts</th>
                                    <th>Peanuts</th>
                                    <th>Sesame seeds</th>
                                    <th>Soya</th>
                                    <th>Sulphur dioxide</th>
                                    <th>Other</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat='row in grid.tableData'>
                                    <td data-ng-class='{"section": row.item.type == 1, "dish": row.item.type == 2, "ingredient": row.item.type == 3}' data-ng-bind="row.item.name"></td>
                                    <td data-ng-bind='row.veggie.type'></td>
                                    <td data-ng-repeat="column in gridColumns" class="cell"><i class="fa fa-fw fa-lg" data-ng-class="{'fa-check-square': !row[column].status, 'fa-check-square-o': row[column].status}"></i>{{row[column].allergens}}({{row[column].allergenType}})</td>
                                </tr>
                                <tr class="newdish">
                                    <td>
                                        <textarea class="form-control" placeholder="Dish name" data-ng-model="placeholderRow.item.name" data-ng-keypress="addNewRowFn($event)"></textarea>

                                        <div class="actions">
                                            add:
                                            <a data-toggle="collapse" href="#notes">notes</a>
                                            <a data-toggle="collapse" href="#price">price</a>
                                            <a data-toggle="collapse" href="#character">characteristics</a>
                                        </div>

                                        <textarea id="notes" class="form-control collapse" style="font-size: 11px; margin-top: 3px;" placeholder="Notes"></textarea>

                                        <div class=" collapse" id="price" style="font-size: 11px; margin-top: 3px;">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">£</span>
                                                <input type="text" class="form-control" placeholder="Price" aria-describedby="basic-addon1">
                                            </div>
                                        </div>

                                        <select class="form-control collapse" id="character" style="font-size: 11px; margin-top: 3px;">
                                            <option value="chrome">MSC 5</option>
                                            <option value="chrome">MSC 4</option>
                                            <option value="chrome">MSC 3</option>
                                            <option value="chrome">MSC 2</option>
                                            <option value="chrome">MSC 1</option>
                                            <option value="firefox">Organic</option>
                                            <option value="ie">Locally sourced (within 30m/50km)</option>
                                            <option value="safari">Fairtrade</option>
                                        </select>

                                    </td>
                                    <td>
                                        <select data-ng-model='placeholderRow.veggie.type'>
                                            <option value='Meat'>Meat</option>
                                            <option value='Veggie'>Veggie</option>
                                            <option value='Fish'>Fish</option>
                                            <option value='Vegan'>Vegan</option>
                                        </select>
                                    </td>
                                    <td data-ng-repeat="column in gridColumns">
                                        <input type='checkbox' data-ng-model='placeholderRow[column].status' data-ng-checked='placeholderRow[column].status' data-ng-keypress="addNewRowFn($event)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <p class="text-muted small">
                        <strong><i class="fa fa-fw fa-lg fa-keyboard-o"></i></strong>
                        Add a : after dish name to make a section · Use TAB key to move to next checkbox, SPACE to select it · Keep pressing TAB to add a new row · ⌘+ ↓ Move Down · ⌘+ ↓ Move Up
                        </p>
                    </form>
                </div>
            </div>
        </small>
    </div>
    <div class="cell-edit-form hidden">
        <form class="">
            <div class="btn-group" role="group" aria-label="" style="padding: 10px 0;">
                <button type="button" class="btn btn-default" ng-click='selectedEditCell.allergenType="No allergen"'>No allergen</button>
                <button type="button" class="btn btn-default" ng-click='selectedEditCell.allergenType="Removable"'>Removable</button>
                <button type="button" class="btn btn-default" ng-click='selectedEditCell.allergenType="Fixed"'>Fixed</button>
            </div>

            <div class="form- group">
                <label for="exampleInputName2" class="sr-only">Allergen name</label>
                <input type="text" class="form-control" id="nnn" placeholder="Which allergen(s) specifically?" ng-model='selectedEditCell.allergens' ng-hide='selectedEditCell.allergenType=="No allergen"'>
            </div>
            <div style="background:#eee; padding: 3px 5px; text-align: left;">
                <button type="button" class="btn btn-primary" ng-click='selectedEditCell.status=true'>
                    <i class="fa fa-check"></i>
                </button>

                <button type="button" class="btn btn-default" ng-click='selectedEditCell.status=false'>
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </form>
    </div>
</section>
