<section data-ng-controller="GridsController" data-ng-init="findOne()">
    <div class="container-responsive" role="main" id="main">


        <div class="row">
            <div class="col-xs-6">
                <h2 id="menuname" data-ng-bind="grid.name">
                    <small><i class="fa fa-fw fa-pencil text-muted"></i></small>
                </h2>
                <small>
                </small>
            </div>
            <small>
                <div class="col-xs-6 text-right innerAll">
                    <a href="#" class="btn btn-sm btn-default pull-right"><i class="fa fa-users fa-fw"></i> Collaborate</a>
                    <a href="#" class="btn btn-sm btn-default pull-right mR10">
                        <i class="fa fa-print fa-fw"></i> Print</a>

                    <div class="input-group input-group-sm col-xs-4 pull-right mR10">
                        <span class="input-group-addon">Share</span>
                        <input type="text" class="form-control" aria-label="URL" value="ftm.co/746dd6">
                        <span class="input-group-addon"><i class="fa fa-copy"></i></span>
                    </div>
                </div>
            </small>
        </div>
        <small ng-include="'modules/grids/views/grid-table.client.partial.html'"></small>
    </div>
    <div class="modal fade" id="cellEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Cell Edit</h4>
                </div> -->
                <div class="modal-body">
                    <form class="">
                        <div class="btn-group" role="group" aria-label="" style="padding: 10px 0;">
                            <button type="button" class="btn btn-default" ng-click='selectedEditCell.allergenType="No allergen"'>No allergen</button>
                            <button type="button" class="btn btn-default" ng-click='selectedEditCell.allergenType="Removable"'>Removable</button>
                            <button type="button" class="btn btn-default" ng-click='selectedEditCell.allergenType="Fixed"'>Fixed</button>
                        </div>

                        <div class="form- group">
                            <label for="exampleInputName2" class="sr-only">Allergen name</label>
                            <input type="text" class="form-control" id="nnn" placeholder="Which allergen(s) specifically?" ng-model='selectedEditCell.allergens' ng-hide='selectedEditCell.allergenType=="No allergen"'>
                        </div>
                        <div style="background:#eee; padding: 3px 5px; text-align: left;">
                            <button type="button" class="btn btn-primary" ng-click='selectedEditCell.status=true'>
                                <i class="fa fa-check"></i>
                            </button>

                            <button type="button" class="btn btn-default" ng-click='selectedEditCell.status=false'>
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
