<div class="row">
    <div class="col-xs-12">
        <form role="form" class="form-horizontal">
            <table class="table table-condensed table-bordered table-header-rotated" id="allergygrid">
                <thead>
                    <tr>
                        <th></th>
                        <th class="rotate"><div><span>Veggie?</span></div></th>

                        <th class="rotate"><div><span>Nuts</span></div></th>
                        <th class="rotate"><div><span>Peanuts</span></div></th>
                        <th class="rotate"><div><span>Sesame seeds</span></div></th>
                        <th class="rotate"><div><span>Fish</span></div></th>
                        <th class="rotate"><div><span>Crustaceans</span></div></th>
                        <th class="rotate"><div><span>Molluscs</span></div></th>
                        <th class="rotate"><div><span>Eggs</span></div></th>
                        <th class="rotate"><div><span>Milk</span></div></th>
                        <th class="rotate"><div><span>Cereals containing gluten</span></div></th>
                        <th class="rotate"><div><span>Lupin</span></div></th>
                        <th class="rotate"><div><span>Celery</span></div></th>
                        <th class="rotate"><div><span>Mustard</span></div></th>
                        <th class="rotate"><div><span>Soya</span></div></th>
                        <th class="rotate"><div><span>Sulphur dioxide</span></div></th>
                        <th class="rotate"><div><span>Other</span></div></th>
                    </tr>
                    <tr id="svg">
                        <th class="itemname" nowrap>Item name</th>
                        <th><img src="modules/grids/img/bones.svg"></th>

                        <th><img src="modules/grids/img/nuts.svg"></th>
                        <th><img src="modules/grids/img/peanuts.svg"></th>
                        <th><img src="modules/grids/img/sesame.svg"></th>
                        <th><img src="modules/grids/img/fish.svg"></th>
                        <th><img src="modules/grids/img/crustacean.svg"></th>
                        <th><img src="modules/grids/img/mollusc.svg"></th>
                        <th><img src="modules/grids/img/eggs.svg"></th>
                        <th><img src="modules/grids/img/milk.svg"></th>
                        <th><img src="modules/grids/img/gluten.svg"></th>
                        <th><img src="modules/grids/img/lupin.svg"></th>
                        <th><img src="modules/grids/img/celery.svg"></th>
                        <th><img src="modules/grids/img/mustard.svg"></th>
                        <th><img src="modules/grids/img/soy.svg"></th>
                        <th><img src="modules/grids/img/sulphur.svg"></th>
                        <th>
                            Other
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat='row in grid.tableData' ng-class='{"section": row.item.type == 1, "child": row.item.type == 3}'>
                        <td data-ng-class='{"section": row.item.type == 1, "dish": row.item.type == 2, "ingredient": row.item.type == 3}' class="itemname" nowrap>
                            <div class="name">{{row.item.name}}</div>
                            <div class="note" ng-if="row.item.hasNote">{{row.item.note}}</div>
                            <div class="priced" ng-if="row.item.hasPrice">{{row.item.price}}</div>
                            <div class="characteristic" ng-if="row.item.hasCharacteristic">
                                <span ng-repeat="char in row.item.characteristic">{{char.text}}</span>
                            </div>
                        </td>
                        <td ng-click='toggleVeggieEditFn(row.veggie)'>
                            <i class="fa" ng-class="{'fa-github-alt': row.veggie.type == 'Meat', 'fa-leaf': row.veggie.type == 'Veggie', 'fa-pagelines': row.veggie.type == 'Fish', 'fa-ship': row.veggie.type == 'Vegan'}"></i>
                            <select data-ng-model='row.veggie.type' ng-show='row.veggie.edit'>
                                <option value='Meat'>Meat</option>
                                <option value='Veggie'>Veggie</option>
                                <option value='Fish'>Fish</option>
                                <option value='Vegan'>Vegan</option>
                            </select>
                        </td>
                        <td data-ng-repeat="column in gridColumns"><cell-edit row-number='$parent.$index' column-name='column'></cell-edit></td>
                    </tr>
                    <tr class="newdish">
                        <td class="itemname" nowrap>
                            <div class="clearfix">

                                <button class="btn btn-sm btn-success" ng-click='newRowLogicFn()' ng-class="{'disabled': !placeholderRow.item.name}" id="save">
                                <i class="fa fa-check"></i>
                                </button>
                                <textarea class="form-control msd-elastic dish" placeholder="Dish name" data-ng-model="placeholderRow.item.name" data-ng-keypress="addNewRowFn($event)"></textarea>

                            </div>


                            <textarea class="form-control msd-elastic" placeholder="Note" data-ng-model="placeholderRow.item.note" data-ng-show="placeholderRow.item.hasNote"></textarea>

                            <input type='number' class="form-control" placeholder="Price" data-ng-model="placeholderRow.item.price" data-ng-show="placeholderRow.item.hasPrice" />
                            <tags-input data-ng-model="placeholderRow.item.characteristic" data-ng-show="placeholderRow.item.hasCharacteristic" replace-spaces-with-dashes='false' placeholder='Add a characteristic' add-from-autocomplete-only='true'>
                                <auto-complete source="loadCharTagFn($query)"></auto-complete>
                            </tags-input>
                            <small data-ng-show="placeholderRow.item.hasCharacteristic">
                                <a ng-click='addToCharFn("MSC 2")'>MSC2</a>
                                <a ng-click='addToCharFn("Organic")'>Organic</a>
                                <a ng-click='addToCharFn("Locally sourced (within 30m/50km)")'>Locally sour&hellip;</a>
                                <a ng-click='addToCharFn("Fairtrade")'>Fairtrade</a>
                                <a ng-click='addToCharFn("MSC 1")'>MSC1</a>
                                <a ng-click='addToCharFn("MSC 5")'>MSC5</a>
                            </small>

                            <div class="actions" ng-show="!placeholderRow.item.hasNote || !placeholderRow.item.hasPrice || !placeholderRow.item.hasCharacteristic">
                                add:
                                <a data-toggle="collapse" ng-click='toggleNoteFn()' ng-show="!placeholderRow.item.hasNote">notes</a>
                                <a data-toggle="collapse" ng-click='togglePriceFn()' ng-show="!placeholderRow.item.hasPrice">price</a>
                                <a data-toggle="collapse" ng-click='toggleCharacteristicFn()' ng-show="!placeholderRow.item.hasCharacteristic">characteristics</a>
                            </div>

                        </td>
                        <td>
                            <select data-ng-model='placeholderRow.veggie.type'>
                                <option value='Meat'>Meat</option>
                                <option value='Veggie'>Veggie</option>
                                <option value='Fish'>Fish</option>
                                <option value='Vegan'>Vegan</option>
                            </select>
                        </td>
                        <td data-ng-repeat="column in gridColumns"><cell-edit-new column-name=column></cell-edit-new></td>
                    </tr>
                </tbody>
            </table>

            <p class="text-muted small">
            <strong><i class="fa fa-fw fa-lg fa-keyboard-o"></i></strong>
            Add a : after dish name to make a section · Use TAB key to move to next checkbox, SPACE to select it · Keep pressing TAB to add a new row · ⌘+ ↓ Move Down · ⌘+ ↓ Move Up
            </p>
        </form>
    </div>
</div>
