<div class="row">
  <div class="col-xs-12">
    <table class="table table-condensed table-bordered table-header-rotated" id="allergygrid">
      <thead>
        <tr id="allergynames">
          <th class="white"></th>
          <th class="white trash"></th>
          <th class="rotate diet">
            <div>
              <span>Veggie?</span>
            </div>
          </th>

          <th class="rotate nuts">
            <div>
              <span>Nuts</span>
            </div>
          </th>
          <th class="rotate nuts">
            <div>
              <span>Peanuts</span>
            </div>
          </th>
          <th class="rotate nuts">
            <div>
              <span>Sesame seeds</span>
            </div>
          </th>
          <th class="rotate sea">
            <div>
              <span>Fish</span>
            </div>
          </th>
          <th class="rotate sea">
            <div>
              <span>Crustaceans</span>
            </div>
          </th>
          <th class="rotate sea">
            <div>
              <span>Molluscs</span>
            </div>
          </th>
          <th class="rotate dairy">
            <div>
              <span>Eggs</span>
            </div>
          </th>
          <th class="rotate dairy">
            <div>
              <span>Milk</span>
            </div>
          </th>
          <th class="rotate">
            <div>
              <span>Cereals cont. gluten</span>
            </div>
          </th>
          <th class="rotate">
            <div>
              <span>Lupin</span>
            </div>
          </th>
          <th class="rotate">
            <div>
              <span>Celery</span>
            </div>
          </th>
          <th class="rotate">
            <div>
              <span>Mustard</span>
            </div>
          </th>
          <th class="rotate sulphites">
            <div>
              <span>Soya</span>
            </div>
          </th>
          <th class="rotate sulphites">
            <div>
              <span>Sulphur dioxide</span>
            </div>
          </th>
          <th class="rotate green">
            <div>
              <span>Other</span>
            </div>
          </th>
        </tr>
        <tr id="svg">
          <th class="itemname white" nowrap>Item name</th>
          <th class="trash white"><i class="fa fa-trash-o hm"></i>&nbsp;/&nbsp;<i class='glyphicon glyphicon-edit'></i></th>
          <th class="diet">
            <i class="foodicon icon-vegan"></i>
          </th>

          <th class="nuts">
            <i class="foodicon icon-nuts"></i>
          </th>
          <th class="nuts">
            <i class="foodicon icon-peanuts"></i>
          </th>
          <th class="nuts">
            <i class="foodicon icon-sesame"></i>
          </th>
          <th class="sea">
            <i class="foodicon icon-fish"></i>
          </th>
          <th class="sea">
            <i class="foodicon icon-crustacean"></i>
          </th>
          <th class="sea">
            <i class="foodicon icon-mollusc"></i>
          </th>
          <th class="dairy">
            <i class="foodicon icon-eggs"></i>
          </th>
          <th class="dairy">
            <i class="foodicon icon-milk"></i>
          </th>
          <th class="green">
            <i class="foodicon icon-gluten"></i>
          </th>
          <th class="green">
            <i class="foodicon icon-lupin"></i>
          </th>
          <th class="green">
            <i class="foodicon icon-celery"></i>
          </th>
          <th class="green">
            <i class="foodicon icon-mustard"></i>
          </th>
          <th class="sulphites">
            <i class="foodicon icon-soy"></i>
          </th>
          <th class="sulphites">
            <i class="foodicon icon-suplhurdioxide"></i>
          </th>
          <th class="green">
            <i class="foodicon icon-other"></i>
          </th>
        </tr>
      </thead>
      <tbody ui-sortable='sortableOptions' ng-model="grid.tableData">
        <tr data-ng-repeat='row in grid.tableData' ng-class='{"section": row.item.type == 1, "child": row.item.type == 3}' style="cursor: move;">
          <td data-ng-class='{"section": row.item.type == 1, "dish": row.item.type == 2, "ingredient": row.item.type == 3}' class="itemname" nowrap>
            <item-edit row-number='$index' class='item-edit'></item-edit>
          </td>
          <td class="trash">
            <a ng-click='deleteRowFn($index)' ng-if='rowEditStatus[$index]'><i class="fa fa-trash-o text-danger"></i></a>

            <a ng-click='toggleEditRowFn($index)' ng-if='!rowEditStatus[$index]'><i class='glyphicon glyphicon-edit'></i></a>
            <a ng-click='toggleEditRowFn($index)' ng-if='rowEditStatus[$index]'><i class='glyphicon glyphicon-edit text-danger'></i></a>

          </td>
          <td class="diet" ng-if='!rowEditStatus[$index]'>
            <i class="" ng-class="{'icon-meat': row.veggie.type == 'Meat', 'fa fa-leaf': row.veggie.type == 'Veggie', 'icon-fish': row.veggie.type == 'Fish', 'icon-vegan': row.veggie.type == 'Vegan', 'fa fa-square-o': !row.veggie.type}"></i>
          </td>
          <td class="diet" ng-if='rowEditStatus[$index]'>
            <i class="" ng-class="{'icon-meat': row.veggie.type == 'Meat', 'fa fa-leaf': row.veggie.type == 'Veggie', 'icon-fish': row.veggie.type == 'Fish', 'icon-vegan': row.veggie.type == 'Vegan', 'fa fa-square-o': !row.veggie.type}" ng-click='toggleVeggieEditFn(row.veggie)'></i>
            <select data-ng-model='row.veggie.type' ng-show='row.veggie.edit' ng-blur='toggleVeggieEditFn(row.veggie)'>
              <option value='Meat'>Meat</option>
              <option value='Veggie'>Veggie</option>
              <option value='Fish'>Fish</option>
              <option value='Vegan'>Vegan</option>
            </select>
          </td>
          <td data-ng-repeat="column in gridColumns">
            <div ng-if='!rowEditStatus[$parent.$index]'>
              <div class="clearfix">
                <i class="fa" data-ng-class="{'fa-minus-square-o': row[column].allergenType == 'Removable', 'fa-square-o text-muted': row[column].allergenType == 'No allergen', 'fa-check-square-o': row[column].allergenType == 'Fixed'}"></i>
              </div>

              <span ng-show="row[column].allergens">{{row[column].allergens}}</span>
            </div>
            <div ng-if='rowEditStatus[$parent.$index]'>
              <cell-edit row-number='$parent.$parent.$index' column-name='column'></cell-edit>
            </div>
          </td>
        </tr>
        <tr class="newdish">
          <td class="itemname" nowrap colspan="2">
            <div class="clearfix">

              <button class="btn btn-sm btn-success" ng-click='newRowLogicFn()' ng-class="{'disabled': !placeholderRow.item.name}" id="save">
                <i class="fa fa-check"></i>
              </button>
              <textarea class="form-control msd-elastic dish" placeholder="Type a dish..." data-ng-model="placeholderRow.item.name" data-ng-keypress="addNewRowFn($event)" autofocus></textarea>

            </div>


            <textarea class="form-control msd-elastic" placeholder="Note" data-ng-model="placeholderRow.item.note" data-ng-show="placeholderRow.item.hasNote"></textarea>

            <input type='number' class="form-control" placeholder="Price" data-ng-model="placeholderRow.item.price" data-ng-show="placeholderRow.item.hasPrice" />
            <tags-input data-ng-model="placeholderRow.item.characteristic" data-ng-show="placeholderRow.item.hasCharacteristic" replace-spaces-with-dashes='false' placeholder='Add a characteristic' add-from-autocomplete-only='true'>
              <auto-complete source="loadCharTagFn($query)"></auto-complete>
            </tags-input>
            <small data-ng-show="placeholderRow.item.hasCharacteristic">
              <a ng-click='addToCharFn("MSC 2")' ng-hide='checkIfCharAddedFn("MSC 2")'>MSC2</a>
              <a ng-click='addToCharFn("Organic")' ng-hide='checkIfCharAddedFn("Organic")'>Organic</a>
              <a ng-click='addToCharFn("Local 30m/50km")' ng-hide='checkIfCharAddedFn("Local 30m/50km")'>Local 30m/50km</a>
              <a ng-click='addToCharFn("Local 50m/80km")' ng-hide='checkIfCharAddedFn("Local 50m/80km")'>Local 50m/80km</a>
              <a ng-click='addToCharFn("Local 100m/160km")' ng-hide='checkIfCharAddedFn("Local 100m/160km")'>Local 100m/160km</a>
              <a ng-click='addToCharFn("Fairtrade")' ng-hide='checkIfCharAddedFn("Fairtrade")'>Fairtrade</a>
              <a ng-click='addToCharFn("MSC 1")' ng-hide='checkIfCharAddedFn("MSC 1")'>MSC1</a>
              <a ng-click='addToCharFn("MSC 5")' ng-hide='checkIfCharAddedFn("MSC 5")'>MSC5</a>
            </small>

            <div class="actions" ng-show="!placeholderRow.item.hasNote || !placeholderRow.item.hasPrice || !placeholderRow.item.hasCharacteristic">
              add:
              <a data-toggle="collapse" ng-click='toggleNoteFn()' ng-show="!placeholderRow.item.hasNote" class='note-toggle'>notes</a>
              <a data-toggle="collapse" ng-click='togglePriceFn()' ng-show="!placeholderRow.item.hasPrice">price</a>
              <a data-toggle="collapse" ng-click='toggleCharacteristicFn()' ng-show="!placeholderRow.item.hasCharacteristic">characteristics</a>
            </div>

          </td>
          <td>
            <select data-ng-model='placeholderRow.veggie.type' class='veggie-select'>
              <option value='Meat'>Meat</option>
              <option value='Veggie'>Veggie</option>
              <option value='Fish'>Fish</option>
              <option value='Vegan'>Vegan</option>
            </select>
          </td>
          <td data-ng-repeat="column in gridColumns">
            <cell-edit-new column-name=column></cell-edit-new>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row " style="max-width: 600px; margin: 0 auto;">
      <div class="well well-sm">

        <div class=" clearfix">
          <div class="col-xs-6">
            <i class="fa fa-lightbulb-o"></i>
            <strong>Tips:</strong>
            <ul>
              <li>
                If you have a menu already typed out somewhere, you can copy and paste it in (yes, in that small bit - it'll fit, trust me)
              </li>
              <li>
                To make a new section, add a colon (the two dots on top of each other) after the word. Eg "Lunch:"
              </li>
              <li>
                You can add an ingredient to the dish (eg to separately detail the contents of a sauce) by using the - or * at the start of the word. Eg " - mayonnaise"
              </li>
            </ul>
          </div>
          <div class="col-xs-6">

            <img src="/modules/grids/img/help_list.png" class="innerT img-responsive" />
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
