<a class="priced" editable-text="row.item.price">{{row.item.price || 0}}</a>
<span class="name">{{row.item.name}}</span>
<a class="note" editable-textarea="row.item.note">{{row.item.note || 'add note'}}</a>
<div class="characteristic" ng-if="row.item.hasCharacteristic">
  <span ng-repeat="char in row.item.characteristic" ng-show='!charEditStatus[$index]'>{{char.text}}</span>
  <div ng-click='toggleCharEditFn($index)' ng-show="!charEditStatus[$index]">edit</div>
  <tags-input data-ng-model="row.item.characteristic" data-ng-show="charEditStatus[$index]" replace-spaces-with-dashes='false' placeholder='Add a characteristic' add-from-autocomplete-only='true'>
    <auto-complete source="loadCharTagFn($query)"></auto-complete>
  </tags-input>
  <div ng-click='toggleCharEditFn($index)' ng-show="charEditStatus[$index]">done</div>
</div>

<div class="item-edit-form hidden item-{{rowNumber}}">
  <form>
    <div class="spacing">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control input-sm" placeholder="Item name" ng-model='row.item.name' />
      </div>
    </div>
    <div class="form-actions">
      <button type="button" class="btn btn-success btn-xs" ng-click='saveItemEditFn()'>
        <i class="fa fa-save"></i> Save
      </button>
      <button type="button" class="btn btn-default btn-xs pull-right" ng-click='cancelItemEditFn()'>
        <i class="fa fa-times"></i> Cancel
      </button>
    </div>
  </form>
</div>
