<a class="priced">{{row.item.price || 0}}</a>
<span class="name">{{row.item.name}}</span>
<a class="note">{{row.item.note || 'add note'}}</a>
<div class="characteristic" ng-if="row.item.hasCharacteristic">
  <span ng-repeat="char in row.item.characteristic">{{char.text}}</span>
</div>

<div class="item-edit-form hidden item-{{rowNumber}}">
  <form>
    <div class="spacing">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control input-sm" placeholder="Item name" ng-model='row.item.name' />
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control input-sm" placeholder="Item price" ng-model='row.item.price' />
      </div>
      <div class="form-group">
        <label>Note</label>
        <textarea class="form-control" placeholder="Item note" ng-model='row.item.note'></textarea>
      </div>
      <div class='form-group'>
        <tags-input data-ng-model="row.item.characteristic" replace-spaces-with-dashes='false' placeholder='Add a characteristic' add-from-autocomplete-only='true'>
          <auto-complete source="$parent.loadCharTagFn($query)"></auto-complete>
        </tags-input>
      </div>
    </div>
    <div class="form-actions">
      <button type="button" class="btn btn-success btn-xs" ng-click='saveItemEditFn()'>
        <i class="fa fa-save"></i> Save
      </button>
      <button type="button" class="btn btn-default btn-xs pull-right" ng-click='cancelItemEditFn()'>
        <i class="fa fa-times"></i> Cancel
      </button>
    </div>
  </form>
</div>
