<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<!-- Fav Icon -->
	<link href="http://foodtrade.com/static/images/logo_sm.png" rel="shortcut icon" type="image/x-icon">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="/{{cssFile}}">{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="print" onload="window.print()">

	<section class="container-responsive">
		<h3>{{grid.name}} <small>(updated on: {{grid.updated|date('F jS, Y')}})</small></h3>
                </div>

			<div class="row">
    <div class="col-xs-12">
        <form role="form" class="form-horizontal">
            <table class="table table-condensed table-bordered table-header-rotated" id="allergygrid">
                <thead>
                    <tr>
                        <th></th>
                        <th class="rotate"><img src="/modules/grids/img/green.png" />
							<div><span>Veggie?</span></div></th>

                        <th class="rotate"><img src="/modules/grids/img/green.png" /><div><span>Nuts</span></div></th>
                        <th class="rotate"><img src="/modules/grids/img/green.png" /><div><span>Peanuts</span></div></th>
                        <th class="rotate"><img src="/modules/grids/img/green.png" /><div><span>Sesame seeds</span></div></th>
                        <th class="rotate"><img src="/modules/grids/img/green.png" /><div><span>Fish</span></div></th>
                        <th class="rotate"><img src="/modules/grids/img/green.png" /><div><span>Crustaceans</span></div></th>
                        <th class="rotate"><img src="/modules/grids/img/green.png" /><div><span>Molluscs</span></div></th>
                        <th class="rotate"><img src="/modules/grids/img/green.png" /><div><span>Eggs</span></div></th>
                        <th class="rotate"><img src="/modules/grids/img/green.png" /><div><span>Milk</span></div></th>
                        <th class="rotate"><img src="/modules/grids/img/green.png" /><div><span>Cereals containing gluten</span></div></th>
                        <th class="rotate"><img src="/modules/grids/img/green.png" /><div><span>Lupin</span></div></th>
                        <th class="rotate"><img src="/modules/grids/img/green.png" /><div><span>Celery</span></div></th>
                        <th class="rotate"><img src="/modules/grids/img/green.png" /><div><span>Mustard</span></div></th>
                        <th class="rotate"><img src="/modules/grids/img/green.png" /><div><span>Soya</span></div></th>
                        <th class="rotate"><img src="/modules/grids/img/green.png" /><div><span>Sulphur dioxide</span></div></th>
                        <th class="rotate"><img src="/modules/grids/img/green.png" /><div><span>Other</span></div></th>
                    </tr>
                    <tr id="svg">
                        <th class="itemname" nowrap>Item name</th>
                        <th><img src="/modules/grids/img/bones.svg"></th>
                        <th><img src="/modules/grids/img/nuts.svg"></th>
                        <th><img src="/modules/grids/img/peanuts.svg"></th>
                        <th><img src="/modules/grids/img/sesame.svg"></th>
                        <th><img src="/modules/grids/img/fish.svg"></th>
                        <th><img src="/modules/grids/img/crustacean.svg"></th>
                        <th><img src="/modules/grids/img/mollusc.svg"></th>
                        <th><img src="/modules/grids/img/eggs.svg"></th>
                        <th><img src="/modules/grids/img/milk.svg"></th>
                        <th><img src="/modules/grids/img/gluten.svg"></th>
                        <th><img src="/modules/grids/img/lupin.svg"></th>
                        <th><img src="/modules/grids/img/celery.svg"></th>
                        <th><img src="/modules/grids/img/mustard.svg"></th>
                        <th><img src="/modules/grids/img/soy.svg"></th>
                        <th><img src="/modules/grids/img/sulphur.svg"></th>
                        <th>
                            Other
                        </th>
                    </tr>
                </thead>
                <tbody>
					{% for row in grid.tableData %}
                    <tr class="{% if row.item.type == 1 %}section{% endif %}{% if row.item.type == 3 %}child{% endif %}">
                        <td class="itemname" nowrap>
							{% if row.item.price %}
								<div class="priced">{{row.item.price}}</div>
							{% endif %}
                            <div class="name">{{row.item.name}}</div>
							{% if row.item.note %}
								<div class="note">{{row.item.note}}</div>
							{% endif %}
							{% if row.item.characteristic %}
								<div class="characteristic">
									{% for char in row.item.characteristic %}
										<span>{{char.text}}</span>
									{% endfor %}
								</div>
							{% endif %}
                        </td>
                        <td>
							<i class="{% if row.veggie.type == 'Meat' %}icon-meat{% endif %}{% if row.veggie.type == 'Veggie' %}icon-vegetarian{% endif %}{% if row.veggie.type == 'Fish' %}icon-fish{% endif %}{% if row.veggie.type == 'Vegan' %}icon-vegan{% endif %}"></i>
                        </td>
						{% for column in gridColumns %}
							<td>
								<div>
									<div class="clearfix">
										<i class="fa {% if row[column] && row[column].allergenType == 'Removable' %}fa-minus-square-o{% endif %}{% if row[column] && row[column].allergenType == 'Fixed' %}fa-check-square-o{% endif %}"></i>
									</div>

									{% if row[column] && row[column].allergens %}
										<span ng-show="cell.allergens">{{row[column].allergens}}</span>
									{% endif %}
								</div>
							</td>
						{% endfor %}
                    </tr>
					{% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>

    </div>
	</section>

<div id="key">
	<strong style="padding-left: 0px; padding-right: 10px;">Diet key:</strong>
	<i class="icon-meat fa-fw"></i>Meat
	<span class="text-muted">&mdash;</span>
	<i class="icon-vegetarian fa-fw"></i> Vegetarian
	<span class="text-muted">&mdash;</span>
	<i class="icon-fish fa-fw"></i> Pescatarian
	<span class="text-muted">&mdash;</span>
	<i class="icon-vegan fa-fw"></i> Vegan

	<strong style="padding-left: 40px; padding-right: 10px;">Allergen key:</strong>

	<i class="fa fa-minus-square-o"></i> Removable allergen
	<span class="text-muted">&mdash;</span>
	<i class="fa fa-check-square-o"></i> Non-removable allergen
</div>

</body>

</html>
