{% extends 'layout.server.view.html' %}

{% block content %}
	<!--[if lt IE 9]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<section data-ui-view></section>
	<div class="modal fade" id="commonSigninModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">Login</h4>
	      </div>
	      <div class="modal-body">
	        <form class="signin form-horizontal innerAll" autocomplete="off">
	          <fieldset>
	            <div class="form-group">
	              <label for="username">Email</label>
	              <input type="text" id="username" name="username" class="form-control" data-ng-model="user.email" placeholder="Email">
	            </div>
	            <div class="form-group">
	              <label for="password">Password</label>
	              <input type="password" id="password" name="password" class="form-control" data-ng-model="user.password" placeholder="Password">
	            </div>
	            <div class="form-group">
	              <hr />
	              <div class="forgot-password">
	                <a href="/#!/password/forgot">Forgot your password?</a>
	              </div>
	              <div data-ng-show="error" class="text-center text-danger">
	                <strong data-ng-bind="error"></strong>
	              </div>
	            </div>
	          </fieldset>
	        </form>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click='commonSigninFn()'>Signin</button>
	      </div>
	    </div>
	  </div>
	</div>


	<div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <span class="pull-right" data-dismiss="modal"><i class="fa fa-times"></i></span>
	        <h3 class="modal-title" id="myModalLabel">How to...</h3>
	      </div>
	      <div class="modal-body">
			<h4>Entering items</h4>
			<ul>
				<li>
					<strong>Add a new section</strong> by typing a : (colon) after the section name. Eg <code>Lunch:</code>
				</li>
				<li>
					<strong>Add ingredients to dishes</strong> by adding a - or * before the item. Eg <code>- fried egg</code> or <code>* salad dressing</code>
				</li>
			</ul>
			<h4>Tips</h4>
			<ul>
				<li>
					You can edit anything, any time - just click on it!
				</li>
			</ul>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}
